[2021-06-07 09:39] mp911de commented on #3664
Thanks for the detail. Spring Data isn't really in the business of configuring the MongoDB client, our components are ideally configured with a Client instance (or `MongoDatabase`) and we stay away from the internals as much as possible. Attaching read preference/write concerns is the maximal level of runtime involvement.

There are support classes in Spring Data MongoDB to create a client instanc

[2021-06-07 09:44] suesunss commented on #3664
Thanks for the reply. Per your detail, it should be a driver-side issue. I will try to figure out in MongoDB community.

We can close the issue now.

[2021-06-07 11:11] #3664 closed

[2021-06-07 14:48] mp911de commented on #3658
Looks like it is related to #3659.

[2021-06-07 16:33] oliverlockwood commented on #3658
@mp911de that's interesting, and slightly surprises me, given the different affected versions (the ticket you refer is noted as a regression in versions after 3.1.9, while this ticket is a regression in versions after 3.0.7).

Still, I look forward to hearing more and will track both issues.

[2021-06-09 08:19] VTLob opened #3665 "Instantiation of CustomConversions fails when a given Converter instances is created via anonymous lambda expression in Kotlin 1.5.0"
**Given:**
* a Spring-Boot project
* using Spring-Data-MongoDB
* using Kotlin 1.5.0

**When:**
* there is a MongoCustomConversions bean
* which gets constructed via a list of Converter
* where at least one of the converters is initialized as an anonymous object via lambda expression

**Then:**
* application startup fails with error `Couldn't resolve type arguments for class path.to.configuration.c

[2021-06-09 09:38] mp911de commented on #3665
This is correct and a known limitation of lambdas. Lambda implementations do not provide generic type information as that is a Java limitation and we have no way of working around it.

[2021-06-09 09:38] #3665 closed

[2021-06-09 09:38] #3660 closed

[2021-06-09 10:11] spring-projects-issues commented on #3663
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-06-09 12:26] #3633 closed

[2021-06-13 09:55] XSun771 opened #3666 "Documentation references outdated `Mongo` client"
[Spring Data MongoDB - Reference Documentation](https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/#mongo.mongo-java-config)

[image](https://i.loli.net/2021/06/13/tiYQVxZ2Bvpblzo.png)

[2021-06-13 20:15] macriolix opened #3667 "Cómo conectar Mongodb a Sqlserver."
Lo que necesito es saber cómo puedo conectar y hacer consulta desde Mongo a sqlserver 2005 para la cual pueda rescatar esa información. Alguna forma como poder lograrlo

[2021-06-13 20:42] jnaalisv commented on #3659
We are also hitting this when trying to execute MongoTemplate.updateMulti:

`	org.springframework.data.mapping.MappingException: Couldn't find PersistentEntity for property private [redacted]

    	at org.springframework.data.mapping.context.MappingContext.getRequiredPersistentEntity(MappingContext.java:152)
    	at org.springframework.data.mapping.context.PersistentPropertyPathFactory.getPair(Per

[2021-06-13 21:05] jnaalisv commented on #3659
@IsNull Thanks for reporting this!

[2021-06-14 05:51] christophstrobl commented on #3667
We're sorry, please report issues in English - Lo sentimos, informe los problemas en inglés.
Nevertheless it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add some more d

[2021-06-14 05:51] #3667 closed

[2021-06-14 09:54] #3407 closed

[2021-06-14 12:18] steschae opened #3668 "Projection on the _id field returns wrong result when using `@MongoId` (MongoDB 4.4)"
**Describe the bug**
Executing a MongoDB query against MongoDB 4.4 which contains a projection on the _id field with an entity class using the  `@MongoId`  annotation on a string-id field results in returned objects which have incorrect id values. In fact, the id values of all returned objects all have the same value "1".
However, when using the `@Id` instead of the `@MongoId` annotation, the same

[2021-06-14 13:51] christophstrobl commented on #3668
thanks for reporting - we'll look into this.

[2021-06-14 14:15] mp911de commented on #3666
![tiYQVxZ2Bvpblzo](https://user-images.githubusercontent.com/1035015/121906747-b3dfab80-cd2b-11eb-9509-01b8f7436ce7.png)

[2021-06-15 06:38] peterfouquet0001 opened #3669 "Add readPreference secondaryPreferred to QueryCursorPreparer"
Hello,
we will execute find queries on the secondaries in our mongo cluster, but the CursorOption SECONDARY_READS is mapped to primaryPreferred in MongoTemplate.QueryCursorPreparer.getReadPreference. The mapping isn't customizable and the code isn't extendable by subclassing the MongoTemplate.
Please add a mapping for CursorOption SECONDARY_PREFRERRED with secondaryPreferred.
Kind regards
Peter

[2021-06-15 08:00] mp911de commented on #3669
`CursorOption` is a legacy from the early MongoDB driver where `DBCollection.find(…)` accepted a flag parameter called `option`. See the historical Javadoc of [`QUERYOPTION_*`](https://www.javadoc.io/static/org.mongodb/mongo-java-driver/2.0/com/mongodb/Bytes.html#QUERYOPTION_SLAVEOK). The modern driver with `MongoCollection` does not accept options at all, however, the mentioned code is in place f

[2021-06-15 11:19] peterfouquet0001 commented on #3669
How can I set a different ReadPreference for a single query?
With the mongo driver i use mongoCollection.withReadPreference(ReadPreference.secondaryPreferred()) to execute these query on a secondary, while all other queries where execute with the defaultReadPreference on the primary.
When I change the read preference for the mongo template, I change the read preference for all queries.
Also i will

[2021-06-15 13:56] gtomassi opened #3670 "Binary Not Deserialized to byte[]"
When upgrading to the latest driver release (3.1.7 -> 3.2.1), our unit tests break due to improper deserialization of type org.bson.types.Binary. For some reason it is no longer being deserialized to a byte[] and left as the Binary class.

[2021-06-15 14:15] christophstrobl commented on #3670
Do you have the test handy? A complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem helps us a lot identify the issue.

[2021-06-15 18:46] gtomassi commented on #3670
@christophstrobl Here you go..

- Output w/ 3.2.1 -> _OUT: TestDomainObject{foo='bar', value=org.bson.types.Binary@403}  -> SAME: false_
- Output w/ 3.1.7 -> _OUT: TestDomainObject{foo='bar', value=[B@14f6b800}  -> SAME: true_

[code]

[2021-06-16 06:37] mp911de commented on #3669
You could override `MongoTemplate`'s `MongoCollection<Document> prepareCollection(MongoCollection<Document> collection)` to supply a read preference based on the collection. Other than that, there's no method that would accept sufficient context to determine a `ReadPreference`.

[2021-06-16 10:07] spring-projects-issues commented on #3663
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2021-06-16 10:07] #3663 closed

[2021-06-16 14:17] peterfouquet0001 commented on #3669
When I override the prepareCollection I can't set the read preference for a single query and i can't set the read preference for an annotation based query, because these queries are using the mongo template implizit.

[2021-06-16 14:35] mp911de commented on #3669
Let me take your request to our team to check whether we can come up with something. For `WriteConcern` we have a `WriteConcernResolver` taking a `MongoAction` as context parameter.

[2021-06-16 15:18] IsNull commented on #3650
@mp911de Hey there, any ETA when this patch is going to get released?

The fixes for those regressions(#3659) are blocking for us and I need to decide if we rollback our whole stack to spring 2.4.x/ or if we can await the fix. Or can we use a previous version of `spring-data-mongodb` with the new spring boot 2.5.x?

[2021-06-16 15:22] mp911de commented on #3650
It will take a bit until the fixes get merged and actually shipped. Stay tuned, https://calendar.spring.io/ is the best place to get a calendar feed for Spring releases.

[2021-06-17 07:40] mp911de opened #3672 "Directly import JSR305 jar"
Right now, we JSR305 annotations (`@Nonnull`) are included transitively through Querydsl. We should import the JSR305 jar directly as our `NullableUtils` have a direct optional dependency.

[2021-06-17 08:03] mp911de opened #3673 "Upgrade to Querydsl 5.0"
See

* spring-projects/spring-data-build#1454
* querydsl/querydsl#2914
* querydsl/querydsl#2915

We should also remove our copies of Querydsl classes that are package-private and deprecate public types.

[2021-06-17 08:50] #3672 closed

[2021-06-17 08:57] IsNull commented on #3650
Thanks for the input. This means next Thursday spring 2.5.2 should get released, so it would be reasonable to assume it will include 3.2.2?

[2021-06-17 09:29] mp911de commented on #3650
Yes, it is. The Spring Data releases are scheduled for July 23.

[2021-06-18 11:48] skuzzle opened #3675 "Projection interface with Optional property not working on Java 16"
Hi all,

I'm trying to migrate a spring-boot `2.5.1` project to Java 16 and I encountered the following Exception`Caused by: java.lang.reflect.InaccessibleObjectException: Unable to make private java.util.Optional(java.lang.Object) accessible: module java.base does not "opens java.util" to unnamed module @26f67b76`

As the spring-boot documentation claims compatibility to Java 16, it made me curio

[2021-06-18 12:01] christophstrobl commented on #3675
thanks for reporting - yes there are issues with the domain model inspection on 16 that we're working on.

[2021-06-18 12:02] #3635 closed

[2021-06-18 12:27] #3659 closed

[2021-06-18 13:02] mp911de commented on #3658
We had a change where we updated mapping of property paths pointing into collection and map-like structures that maps  errornously `additionalData.name` into `additionalData.name.name`.

There's quite a bit of a mismatch in the data model. `additionalData` is defined as `Map<String, DataValue>` while it actually is `List<DataValue>`. Changing the data type to `additionalData` fixes the problem.

W

[2021-06-18 15:28] vgarmash opened #3676 "Sorting with ignorecase is rejected despite the documentation"
In current documentation https://docs.spring.io/spring-data/data-mongodb/docs/current/reference/html/#core.web.basic I see the following table:
![image](https://user-images.githubusercontent.com/1226001/122583652-2b7e4500-d062-11eb-9781-a3b521ca3291.png)

It states that it is possible to change case sensitivity for sorting.

Although when trying to use "ignorecase" keyword I am getting the followi

[2021-06-21 08:18] christophstrobl commented on #3670
Thanks for the feedback.
I gave the test a try with current spring-data maintenance branches, and I did not see a change in behavior between the versions in that regard.
Since binary data is considered a MongoDB native type (which means on write no type hint is added for it) no conversion will happen if the domain type does not infer a certain target type.
In the test above `Object` is used for th

[2021-06-21 11:55] #3668 closed

[2021-06-21 13:39] byhu opened #3679 "reactive TransactionalOperator fails for some test cases"
I have create some test cases at https://github.com/byhu/springMongoTxTest.git. Transaction failed 3 out of 6 cases.

for the flux(txo) case, the log show, it always have txnNumber: 1.  I used mongo atlas for my test, and it is accessable from anywhere IP, so you should be able to run the project without any modification.

[code]

[2021-06-22 09:41] mp911de commented on #3679
If you would like us to spend some time helping you to diagnose the problem, please spend some time describing it. Right now, we struggle to understand what you want to achieve.

[2021-06-22 09:47] 9arth opened #3680 "Saving Map <String, Object> specifying the value type"
Sorry for my english. Saving Map <String, Object> specifying the value type, now saving occurs without specifying the value type and during deserialization the value of the type is lost and converted to the default type. For example, they saved the set, but got the list, etc.
for example(not real) code:

Duration saved how "5M", when deserialize as Object.class type and converters not working.
`@D

[2021-06-22 12:37] #3666 closed

[2021-06-22 13:41] #3649 closed

[2021-06-22 13:41] mp911de opened #3681 "Release 3.1.11 (2020.0.11)"

[2021-06-22 14:20] #3650 closed

[2021-06-22 14:21] mp911de opened #3682 "Release 3.2.3 (2021.0.3)"

[2021-06-22 15:15] byhu commented on #3679
I spend a lot of time to craft the test cases. The test is to insert 2 docs into 2 collections in one transaction. 3 of my test cases fail because the count in the 2 collections are not the same. I have made the mongodb that used in the test public. you can simple run the test as is to see the problems. Let me know if you need more specifics.

[2021-06-22 15:22] mp911de commented on #3679
The code isn't following any known structure of a JUnit or TestNG test unfortunately which makes it impossible to know the assertions. Reactive pipelines throw random errors without a description of whether this is expected or what the code is actually trying to simulate. Method names aren't expressing what they try to do.

Since this ticket isn't actionable for us, I'm inclined to close it unless

[2021-06-23 13:07] rogeriomgatto opened #3683 "Memory Leak: instances of UnwrappedMongoPersistentProperty are accumulating in PreferredConstructor.isPropertyParameterCache"
UnwrappedMongoPersistentProperty doesn't implement equals() and hashCode() and is used as a key in PreferredConstructor.isPropertyParameterCache.

[2021-06-23 13:09] christophstrobl commented on #3683
Thanks for reporting!

[2021-06-23 13:11] rogeriomgatto commented on #3683
Forgot to mention:
spring-data-mongodb version 3.2.1
mongodb-driver-sync version 4.2.3

[2021-06-23 15:39] rogeriomgatto commented on #3683
Regarding urgency: this is a fast leak, MappingMongoConverter triggers this leak for read operations.  Kubernetes is killing my pods.

[2021-06-23 17:13] byhu commented on #3679
I have updated the test cases to JUnit. There 2 test cases that will run successfully, But if you the flow terminate, you  will see there are discrepancies in db.
@Test flux(), if you uncomment line 64.  // System.exist(1);
@Test monoZip, if you uncomment line 79  // throw e;

[2021-06-24 12:53] #3683 closed

[2021-06-24 20:13] shanedonburke opened #3685 ""Required identifier property not found" in Kotlin"
Hi,

I have a Kotlin project with `spring-boot-starter-data-mongodb-reactive`. My sealed class `Question` has a collection. Inserting and deleting work fine, but using my method for updating a document results in this:
[code]
`Question.kt` looks like this:
[code]
I'm updating the document with this code:
[code]
Specifically, the call to `entityInformation.idAttribute` is failing. It works fine for

[2021-06-25 06:04] christophstrobl commented on #3685
Thanks for reporting. Which version of data-mongodb are you using?
We've seen `override` cause trouble when trying to resolve properties, so this might be related to spring-projects/spring-data-commons#1911. So you might want to give current main line snapshot builds a try, because the fix for the above mentioned issue has not yet seen a release.
Also a [minimal sample](https://stackoverflow.com/h

[2021-06-25 11:35] jnaalisv opened #3686 "reading a document with a list with a null element fails with Spring Data Mongo 3.2.2, works with 3.2.1"
java.lang.NullPointerException: Cannot invoke "Object.getClass()" because "source" is null

	at org.springframework.data.mongodb.core.convert.MappingMongoConverter$ConversionContext.convert(MappingMongoConverter.java:1885)
	at org.springframework.data.mongodb.core.convert.MappingMongoConverter.readCollectionOrArray(MappingMongoConverter.java:1139)
	at org.springframework.data.mongodb.core.convert.

[2021-06-25 11:44] jnaalisv commented on #3686
with 3.2.2 we fail here:
<img width="943" alt="Screenshot 2021-06-25 at 14 37 44" src="https://user-images.githubusercontent.com/8088674/123420122-cbd4ec00-d5c3-11eb-9c28-a5d7cc7f23cb.png">

[2021-06-25 11:44] christophstrobl commented on #3686
Thanks for reporting. It looks like you've already a reproducer (`com.example.ReproduceSpringDataMongoError.reproduceError(...`) for this issue. Could you please share it?

[2021-06-25 11:45] jnaalisv commented on #3686
with 3.2.1 it works
<img width="855" alt="Screenshot 2021-06-25 at 14 41 19" src="https://user-images.githubusercontent.com/8088674/123420181-e6a76080-d5c3-11eb-8f38-6499038937c7.png">

[2021-06-25 11:48] jnaalisv commented on #3686
The reproducer is in a private repo I can't share. I might have time over the weekend to whip up something I can share.

[2021-06-25 11:52] christophstrobl commented on #3686
Thanks - that would help us understand the issue in depth and put a guard in the right spot.

[2021-06-25 12:00] jnaalisv commented on #3686
[code]

[2021-06-25 14:19] shanedonburke commented on #3685
Thanks for the quick response. I'm using `2.2.6.RELEASE`.

[2021-06-27 12:54] dajulia3 opened #3688 "Multiple maps with numeric keys in a single update produces the wrong query (Regression)"
After updating to Spring Data version 3.2.2 from version 2.1.8.RELEASE, our updates that were previously working now fail. While maps that have numeric keys work if there is only one map with an integer key, when there are multiple maps with numeric keys in a given query, it fails.

The classes that we are updating have the form of:
[code]

Updates that are meant to generate ```{"$set":  {"outerMa

[2021-06-28 06:24] peterfouquet0001 commented on #3669
HI,
do you have a solution to configure the ReadPreference for a single query?
Kind regards
Peter

[2021-06-28 08:22] spring-projects-issues commented on #3670
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-06-29 06:05] mohitangiras commented on #3322
One of the reason to implement this is the error below, this occurs with large data if lookup is not followed by Unwind, the large array that is formed in normal lookup leads to limit of 16MB, where as Mongo engine restructures lookup operation if its a let/pipeline combination or followed by Unwind operation:

2021-06-24T14:40:51.698+0000 E QUERY    [js] Error: command failed: {
        "operatio

[2021-06-29 06:31] mp911de commented on #3669
Right now, we do not have the means to configure `ReadPreference` on a per-query basis. Introducing a `ReadPreferenceResolver` is something that we want to explore in combination with a possibility of declarative configuration that can be used with repository query methods.

[2021-06-29 13:24] tschlegel commented on #3686
This code block was added recently to check for a custom read target. The check in the condition assumes that "source" cannot be null, which is not always true.

There is also no assertion that parameter "source" must be non null.
![image](https://user-images.githubusercontent.com/18287107/123804724-c0e4c900-d8ed-11eb-8cb3-4ae86197b983.png)

[2021-06-30 04:22] nikeshhajari opened #3690 "Spring data properties for Mongo causes exception even when programmatically configured"
Hello,

I am using the reactive spring data mongodb starter:
`implementation 'org.springframework.boot:spring-boot-starter-data-mongodb-reactive'"`

Instead of using the spring data properties to configure Mongo if I create a configuration file like the below I can connect and use the mongodb successfully, BUT receive the exception below. However, when I add the spring mongodb properties, the exce

[2021-07-01 09:17] #3686 closed

[2021-07-01 13:05] Taha-Di-Nero opened #3692 "ClassCastException in MappingMongoConverter when having Map<String, Object> as a field type."
After upgrading to Spring Boot from 2.4.4 to 2.5.2(spring-data-mongodb 3.1.6 --> 3.2.2) I am having the following exception:
[code]

In the domain object there is a the following property:
`protected Map<String, Object> _flexFields = new HashMap<>()`

When `MappingMongoConverter` try to convert it in line `1905`, the exception is thrown even the map is empty.
The 3.1.x `MappingMongoConverter` impl

[2021-07-01 15:55] christophstrobl commented on #3692
Thanks for reporting can you please add the domain types involved as well as the raw document representation. Ideally you have a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem.
This would help us to better understand the issue.

[2021-07-01 16:17] Taha-Di-Nero commented on #3692
I will try but in 3.1.x there was no cast to Bson

`if (typeHint.isMap()) {
				return (S) mapConverter.convert(this, (Bson) source, typeHint);
			}`

[2021-07-02 12:26] christophstrobl opened #3693 "Upgrade to MongoDB 4.3.0-beta4 Drivers"

[2021-07-05 08:20] christophstrobl opened #3694 "Add support for $first & $last aggregation operator"
The `$first` and `$last` operators are, starting with MongoDB 4.4, also applicable for array elements and should be supported via the `ArrayOperatorFactory`.

----

See: https://docs.mongodb.com/v5.0/reference/operator/aggregation/first-array-element/

[2021-07-05 08:22] spring-projects-issues commented on #3670
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2021-07-05 08:23] christophstrobl opened #3695 "Add support for $replaceOne & $replaceAll aggregation operators"
The `$replaceOne` and `$replaceAll` operators should be supported via the `StringOperatorFactory`.

----

See:
* https://docs.mongodb.com/v5.0/reference/operator/aggregation/replaceOne/
* https://docs.mongodb.com/v5.0/reference/operator/aggregation/replaceAll/

[2021-07-05 08:49] christophstrobl opened #3696 "Assert compatibility with MongoDB Server 5.0-rc7"

[2021-07-05 14:02] Taha-Di-Nero commented on #3692
[minimal_sample.zip](https://github.com/spring-projects/spring-data-mongodb/files/6764734/minimal_sample.zip)
Here is a minimal sample to reproduce the error. It works with **3.1.x** but not with **3.2.2**

[2021-07-06 09:43] christophstrobl opened #3697 "Improve Query/Update property mapping."
The current `KeyMapper` implementation should be improved by making use of `Persistent | PropertyPath` to avoid keeping track of individual key fragments while mapping the target key.

----

relates to: #3688

[2021-07-06 12:10] christophstrobl commented on #3692
The java driver uses `org.bson.Document` to represent `Map` structures. the `_flexFields` is actually not present in the source when reading from MongoDB. However the `FlexDocumentListener` puts in a `LinkedHashMap` via the `afterLoad` event which then in turn leads to the error you see.

I admit the restriction in place is a kinda hard one and I'll take this to the team to see if we want it to be

[2021-07-06 14:27] #3688 closed

[2021-07-06 16:16] gtomassi commented on #3670
@otasman Could use your help putting together a mini gradle/intellij project or something that replicates the issue so they can replicate it.

[2021-07-06 18:22] otasman commented on #3670
@christophstrobl
Here is a main and gradle file that easily recreated the issue where all you need to do is change which version of the spring-data-mongodb driver compile is commented out

main
[code]

build.gradle
[code]

[2021-07-08 06:35] cyrilmacphilip opened #3699 "Support for Document/Domain objects in an Update clause/BulkOperations"
- Currently, when we might want to upsert a list of documents in a collection we have a few options to choose from. In the use-case where we might want to upsert all the attributes, we have an option to generate an update clause probably by creating a `Document` object from the custom domain object(Annotated with `@Document`) and passing on the data to `public static Update fromDocument(Document o

[2021-07-08 09:33] mp911de commented on #3699
To clarify your request: You're asking for a bulk upsert?

Have you tried `BulkOperations.replaceOne(Query, Object, FindAndReplaceOptions)` method accepting `FindAndReplaceOptions` where you can enable the `upsert` flag?

[2021-07-08 10:09] #3656 closed

[2021-07-09 07:56] cyrilmacphilip commented on #3699
Thanks for the suggestion, the version I am currently using does not seem to have this option. Will try to upgrade and test it out. It looks like this option should help in my usecase. You can close the issue, will open another one in the future if required. Thanks!

[2021-07-09 07:58] mp911de commented on #3699
`BulkOperations.replaceOne` was introduced with version 2.2.

[2021-07-09 07:58] #3699 closed

[2021-07-09 13:25] odrotbohm opened #3700 "Adapt to consolidated PersistentEntity API"
Some adaptation needed to accommodate spring-projects/spring-data-commons#2408.

[2021-07-09 17:47] gtomassi commented on #3670
@christophstrobl @spring-projects-issues
Can you please reopen now that we've provided an example project with dependencies?

[2021-07-11 21:34] meloujir opened #3702 "`MappingMongoConverter` incorrectly processes an object property of type `org.bson.Document`"
Hi, we encountered a problem (originates from 3.1.5 > 3.2 update), which occurrs when a property (of some DBO entity) of type org.bson.Document is handled within MappingMongoConverter.ConversionContext#convert. MongoDB driver correctly returns a document, of which all inner object properties (fields) are of type org.bson.Document.

Then MappingMongoConverter comes into play (within process of popu

[2021-07-12 06:09] #3700 closed

[2021-07-12 06:48] christophstrobl commented on #3702
Thanks for reporting. I might be missing something here but unfortunately, I was not able to reproduce the issue based on the given information.
Could you please share a sample of the raw source document and the desired mapping target type. Ideally a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy)

[2021-07-12 08:46] christophstrobl commented on #3670
@otasman thanks for the sample. I see the custom `Converter` had been the missing bit.
Good catch - we'll take care of that.

[2021-07-12 10:30] meloujir commented on #3702
Hi @christophstrobl,

I'm sorry it wasn't clear, I tried to point to a specific location where is the problem.

To save time, I attach a raw document [1] and screenshots from the debugging of tests with use of both versions of spring data mongodb. Screenshots description is bellow (and all important things are also highlighted on images):

- Version 3.1.5
  - [2] Describes an instance of org.bson.

[2021-07-12 11:28] christophstrobl commented on #3702
Thanks @meloujir - I see - this seems to happen for `Document` within a collection property. Good catch - we'll take care of this. So, no need to spend your free time on a reproducer.
We'd appreciate if you'd use code fences instead of images nevertheless.

[2021-07-12 13:04] #3693 closed

[2021-07-13 06:05] mp911de opened #3705 "Adapt to changes in AssertJ 3.20"

[2021-07-13 06:42] #3705 closed

[2021-07-14 05:07] christophstrobl opened #3706 "Upgrade to MongoDB 4.3.0 Drivers."

[2021-07-14 05:44] #3706 closed

[2021-07-14 09:34] christophstrobl commented on #3673
closed via 986ea39

[2021-07-14 09:34] #3673 closed

[2021-07-14 09:47] christophstrobl opened #3707 "Add support for $acos & $acosh aggregation operators."
Available since MongoDB 4.2.

* https://docs.mongodb.com/manual/reference/operator/aggregation/acos/
* https://docs.mongodb.com/manual/reference/operator/aggregation/acosh/

[2021-07-14 09:48] christophstrobl opened #3708 "Add support for `$asin` and `$asinh` aggregation operators"
Available since MongoDB 4.2.

* https://docs.mongodb.com/manual/reference/operator/aggregation/asin/
* https://docs.mongodb.com/manual/reference/operator/aggregation/asinh/

[2021-07-14 09:49] christophstrobl opened #3709 "Add support for `$atan`, `$atan2` and `$atanh` aggregation operators"
Available since MongoDB 4.2.

* https://docs.mongodb.com/manual/reference/operator/aggregation/atan/
* https://docs.mongodb.com/manual/reference/operator/aggregation/atan2/
* https://docs.mongodb.com/manual/reference/operator/aggregation/atanh/

[2021-07-14 10:01] christophstrobl opened #3710 "Add support for `$cos` and `$cosh` aggregation operators"
Available since MongoDB 4.2.

* https://docs.mongodb.com/manual/reference/operator/aggregation/cos/
* https://docs.mongodb.com/manual/reference/operator/aggregation/cosh/

[2021-07-14 10:03] christophstrobl opened #3711 "Add support for $setWindowFields aggregation stage."
Available since MongoDB 5.0

* https://docs.mongodb.com/manual/reference/operator/aggregation/setWindowFields/#mongodb-pipeline-pipe.-setWindowFields

[2021-07-14 10:05] christophstrobl opened #3712 "Add support for $covariancePop & $covarianceSamp aggregation operators"
Available since MongoDB 5.0.

* https://docs.mongodb.com/manual/reference/operator/aggregation/covariancePop/
* https://docs.mongodb.com/manual/reference/operator/aggregation/covarianceSamp/

[code]

----

Depends on: #3711

[2021-07-14 10:09] christophstrobl opened #3713 "Add support for `$dateAdd` and `$dateDiff` aggregation operators"
Available since MongoDB 5.0

* https://docs.mongodb.com/manual/reference/operator/aggregation/dateAdd/
* https://docs.mongodb.com/manual/reference/operator/aggregation/dateDiff/

[2021-07-14 10:10] christophstrobl opened #3714 "Add support for `$degreesToRadians` aggregation operator"
Available since MongoDB 4.2

* https://docs.mongodb.com/manual/reference/operator/aggregation/degreesToRadians/

[2021-07-14 10:12] christophstrobl opened #3715 "Add support for $rank & $denseRank aggregation operators."
Available since MongoDB 5.0.

https://docs.mongodb.com/manual/reference/operator/aggregation/denseRank/

----

Depends on: #3711

[2021-07-14 10:13] christophstrobl opened #3716 "Add support for `$derivative` aggregation operator"
Available since MongoDB 5.0

https://docs.mongodb.com/manual/reference/operator/aggregation/derivative/

----

Depends on: #3711

[2021-07-14 10:14] christophstrobl opened #3717 "Add support for $documentNumber aggregation operator."
Available since MongoDB 5.0

https://docs.mongodb.com/manual/reference/operator/aggregation/documentNumber/

----

Depends on: #3711

[2021-07-14 10:14] christophstrobl opened #3718 "Add support for $expMovingAvg aggregation operator."
Available since MongoDB 5.0

https://docs.mongodb.com/manual/reference/operator/aggregation/expMovingAvg/

----

Depends on: #3711

[2021-07-14 10:16] christophstrobl opened #3719 "Support $first aggregation operator in $setWindowFields aggregation stage."
Available since MongoDB 5.0

* https://docs.mongodb.com/manual/reference/operator/aggregation/first/

----

Depends on: #3711

[2021-07-14 10:18] christophstrobl opened #3720 "Extend support for $ifNull to cover multiple conditions."
Available since 5.0.

* https://docs.mongodb.com/manual/reference/operator/aggregation/ifNull/

[2021-07-14 10:19] christophstrobl opened #3721 "Add support for `$integral` aggregation operator"
Available since MongoDB 5.0.

* https://docs.mongodb.com/manual/reference/operator/aggregation/integral/

----

Depends on: #3711

[2021-07-14 10:20] christophstrobl opened #3722 "Support $last aggregation operator in $setWindowFields aggregation stage."
Available since MongoDB 5.0.

* https://docs.mongodb.com/manual/reference/operator/aggregation/last/

----

Depends on: #3711

[2021-07-14 10:22] christophstrobl opened #3723 "Support $max aggregation operator in $project, $addFields, $set... aggregation stages."
Starting with MongoDB 5.0 the `$max` operator can be used in more than just the `$group` stage.

See https://docs.mongodb.com/manual/reference/operator/aggregation/max/ for full list.

[2021-07-14 10:24] christophstrobl opened #3724 "Add support for $rand aggregation operator."
This is a `first-timers-only` issue.

This means we've worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people fr

[2021-07-14 10:27] christophstrobl opened #3725 "Add support for $regexFind, $regexFindAll & $regexMatch aggregation operators."
Available since MongoDB 4.2.

* https://docs.mongodb.com/manual/reference/operator/aggregation/regexFind/
* https://docs.mongodb.com/manual/reference/operator/aggregation/regexFindAll/
* https://docs.mongodb.com/manual/reference/operator/aggregation/regexMatch/

[2021-07-14 10:28] christophstrobl opened #3726 "Add support for $sampleRate aggregation operator."
Available since MongoDB 4.4.2.

* https://docs.mongodb.com/manual/reference/operator/aggregation/sampleRate/

[2021-07-14 10:30] christophstrobl opened #3727 "Add support for $shift aggregation operator."
Available since MongoDB 5.0

* https://docs.mongodb.com/manual/reference/operator/aggregation/shift/

----

Depends on #3711

[2021-07-14 10:31] christophstrobl opened #3728 "Add support for `$sin` and `$sinh` aggregation operators"
Available since MongoDB 4.2

* https://docs.mongodb.com/manual/reference/operator/aggregation/sin/
* https://docs.mongodb.com/manual/reference/operator/aggregation/sinh/

[2021-07-14 10:33] christophstrobl opened #3729 "Allow $stdDevPop & stdDevSamp operators to be used in $project, $addFields, $set, ... aggregation stages."
Starting with MongoDB 5.0 `$stdDevPop` & `stdDevSamp` operators can be used in more stages than just `$group`.

Full list available via:

https://docs.mongodb.com/manual/reference/operator/aggregation/stdDevPop/
https://docs.mongodb.com/manual/reference/operator/aggregation/stdDevSamp/

[2021-07-14 10:34] christophstrobl opened #3730 "Add support for `$tan` and `$tanh` aggregation operators"
Available since MongoDB 5.0

* https://docs.mongodb.com/manual/reference/operator/aggregation/tan/
* https://docs.mongodb.com/manual/reference/operator/aggregation/tanh/

[2021-07-14 10:43] christophstrobl opened #3731 "Add support for creating time series collection."
Available since MongoDB 5.0.

* https://docs.mongodb.com/manual/core/timeseries-collections/

[code]

[2021-07-14 13:16] #3225 closed

[2021-07-15 07:00] #3670 closed

[2021-07-15 07:59] mp911de commented on #3692
Closing as duplicate of #3702

[2021-07-15 07:59] #3692 closed

[2021-07-15 08:08] #3702 closed

[2021-07-15 14:36] ashishkujoy opened #3733 "intermittent MongoSocketWriteException with spring-boot-starter-data-mongodb-reactive 2.4.5"
Hi team, we are facing intermittent `MongoSocketWriteException`

<details>
  <summary>Click to see error stacktrace</summary>

[code]
</details>

Version details:

`org.springframework.boot:spring-boot-starter-data-mongodb-reactive -> 2.4.5`
`org.springframework.data:spring-data-mongodb:3.1.8`
`org.springframework.boot:spring-boot-starter-actuator -> 2.4.5`
` org.jetbrains.kotlin:kotlin-stdlib-jdk

[2021-07-15 14:47] christophstrobl commented on #3733
Can you please provide information on the context in which you execute the operation, the op itself, etc.
A complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem would be very helpful to spot the cause. //cc @jyemin & @rozza

[2021-07-15 14:54] ashishkujoy commented on #3733
Thanks @christophstrobl for quick reply. I will try to provide a sample application.

[2021-07-15 15:53] rozza commented on #3733
Could you provide the `MongoSocketWriteException` details as well? There should be some pertinent information there as to the cause.

[2021-07-15 15:56] ashishkujoy commented on #3733
@rozza this is full error stack from the exception.

[2021-07-15 15:59] ashishkujoy commented on #3733
Repo to show how we are using the mongo, we may not able to reproduce the issue with this sample code, this only for showing how we are using and versions we are using.

NOTE: In production we are using AWS provided Document DB.

[2021-07-16 06:58] mp911de commented on #3733
This ticket isn't actionable for us as I/O exceptions relate to the driver and the attached reproducer uses default driver settings.

[2021-07-16 06:58] #3733 closed

[2021-07-16 07:44] #3731 closed

[2021-07-16 09:06] #3681 closed

[2021-07-16 09:07] schauder opened #3734 "Release 3.1.12 (2020.0.12)"

[2021-07-16 10:00] #3682 closed

[2021-07-16 10:02] schauder opened #3735 "Release 3.2.4 (2021.0.4)"

[2021-07-16 12:29] #3631 closed

[2021-07-16 12:30] schauder opened #3736 "Release 3.3 M2 (2021.1.0)"

[2021-07-20 08:27] mp911de commented on #3679
I'm still not able to comprehend what the tests are trying to achieve. Given that this ticket isn't actionable, I'm closing it for now.

If you want us to understand the test setup, please provide a simple setup without recursions, reduce operators or intermediate errors that are thrown upon catching a magic integer value.

[2021-07-20 08:27] #3679 closed

[2021-07-22 06:21] mp911de opened #3737 "Remove changelog shipped with the binaries"
See spring-projects/spring-data-build#1494

[2021-07-22 07:01] christophstrobl opened #3738 "Fix issues related to Querydsl 5.0 upgrade."
Related to: spring-projects/spring-data-build#1490

[2021-07-22 07:14] #3738 closed

[2021-07-23 03:17] YeungRay opened #3743 "$merge in aggregate"
in AggregateIterableImpl.getOutNamespace method
`BsonDocument mergeDocument = lastStageDocument.getDocument("$merge");`
this line dont consider String type when  $merge use the simplified form , like { $merge: “xxx” }
Although users can avoid the problem , but it's a bug

[2021-07-23 05:14] christophstrobl commented on #3743
Thanks for reporting - we'll take care of this.

[2021-07-23 07:33] christophstrobl commented on #3743
This is a MongoDB driver internal issue - Please follow updates in the MongoDB bug tracker for [JAVA-4258](https://jira.mongodb.org/browse/JAVA-4258).

[2021-07-23 07:33] #3743 closed

[2021-07-23 11:26] jyemin commented on #3743
Thanks for the report.  We'll get a fix into the next patch release of the driver.

[2021-07-23 15:49] dmak commented on #2737
Dear community,
Could you please give me an idea how to create a hint which [specifies the index name explicitly](https://docs.mongodb.com/manual/reference/method/cursor.hint/#specify-an-index):
[code]
As you see I want to pass a BSON literal, not a `Document`.

[2021-07-25 13:38] ashishkujoy commented on #3733
For others reference: https://stackoverflow.com/questions/48464455/connection-to-cosmosdb-through-mongo-api-fails-after-idle

This is the same issue which we are observing in our application, earlier in non prod we were using [Bitmani Mongo DB docker images](https://github.com/bitnami/bitnami-docker-mongodb) and not seen the issue, after switching to AWS document db we started observing this issue

[2021-07-26 04:17] christophstrobl opened #3747 "AggregationOptions fails on using index name."
`AggregationOptions#fromDocument` fails to read index name but expects a `Document`.

Depends on: #3778

[2021-07-26 04:18] christophstrobl commented on #2737
@dmak thanks for bringing this up! Good catch - I opened #3747 to tackle this.

[2021-07-26 07:46] christophstrobl commented on #3747
Depends on: [JAVA-4262](https://jira.mongodb.org/browse/JAVA-4262)

[2021-07-26 08:40] christophstrobl opened #3749 "Fix build on Java 16"

[2021-07-26 09:47] arn-cpu opened #3750 "Bug in ParameterBindingJsonReader - visitUUIDConstructor - UUID subtype 04"
Hi,
there is a bug in private method  _BsonBinary visitUUIDConstructor(String uuidConstructorName)_ in _ParameterBindingJsonReader_ class:

[code]

It should be following, because if not UUID and not GUID then use legacy UUID:
[code]
Now when I use UUID I get subtype 03 instead of 04 which I use on database so I can't perform my query correctly.
I am trying to use _@Query_ annotation with _UUID('i

[2021-07-26 10:15] sfgvieira opened #3751 "QuerydslMongoPredicateExecutor findAll() tries to get offset for a Pageable.unpaged()"
Hi,
When passing a Pageable.unpaged() to findAll(Predicate predicate, Pageable pageable) in the QuerydslMongoPredicateExecutor, it will try to call the pageable.getOffset() which  will to a java.lang.UnsupportedOperationException.

I suppose this is a bug because the documentation of the findAll mentions that the pageable can be unpaged.

[2021-07-26 11:30] mp911de commented on #3751
What would you expect as a result from such a call?

[2021-07-26 11:36] mp911de commented on #3750
Seems we missed a series of upstream changes:

* https://github.com/mongodb/mongo-java-driver/commit/01019c72e4114c735f3b8aff001469f63a93bac7#diff-f6bf6fedf45851bd80b6bee279186d6832b41e5a2cf241a5eb366e46650be705
* https://github.com/mongodb/mongo-java-driver/commit/f16761c3ec1deeb1f695c7c88d82823ae8bb1549#diff-f6bf6fedf45851bd80b6bee279186d6832b41e5a2cf241a5eb366e46650be705
* https://github.com/mo

[2021-07-26 11:42] sfgvieira commented on #3751
My expectation is that if the provided pageable is unpaged, then it would not apply pagination to the result and instead it would provide me an unpaged page with the available contents.

The `PageableExecutionUtils.getPage(...)` call seems to already do this but it never gets to be executed because it fails at the `applyPagination(query, pageable)` due to the call to `pageable.getOffset()` which r

[2021-07-26 11:57] mp911de commented on #3751
Thanks a lot. By checking the other implementations, `Pageable.unpaged()` should indeed return all results. The JPA module does already the right thing and we need to fix the issue in MongoDB.

[2021-07-26 13:15] dmak commented on #2737
@christophstrobl Maybe you can help me with the following issue. If you wish I can post it to StackOverflow, but I really think that I do something simply wrong.
I execute the following query using [Robo3D](https://studio3t.com/download/)
[code]
It does not matter what aggregate is, the point is that I pass a hint as a document and hint is correctly interpreted as "use any index of field `definiti

[2021-07-27 08:10] #3751 closed

[2021-07-27 12:58] ahmedmq commented on #3724
@christophstrobl - Can I work on this issue please?

[2021-07-27 13:32] christophstrobl commented on #3724
sure - please assign it to yourself so others know you're taking care of it.
Happy to help if questions arise. The part with the `MethodReferenceNode` may benefit from changes in #3741 adding `emptyRef()`.

[2021-07-27 15:38] ahmedmq commented on #3724
@christophstrobl - I am not seeing the button to assign the issue to myself, probably an access issue. could you assign it to me please.

[2021-07-28 15:54] ahmedmq commented on #3724
@christophstrobl  - Any reason why we do not want to have the new `rand()` aggregation as part of the existing `ArithmeticOperators`? I was thinking we would mostly use the `rand()` operator to perform some arithmetic computation as part of the aggregation pipeline.

[2021-07-29 13:02] mp911de opened #3756 "Upgrade to Java 17"
[code]

See also spring-projects/spring-data-commons#2423

[2021-07-29 13:27] mp911de opened #3757 "Add FluentQuery support to `QuerydslPredicateExecutor` and `QueryByExampleExecutor`"
Based on spring-projects/spring-data-commons#2421, we should add an implementation for the Fluent Query API through `QueryByExampleExecutor`, `QuerydslPredicateExecutor` and their reactive variants. See also spring-projects/spring-data-commons#2228.

[2021-07-29 14:38] christophstrobl commented on #3756
duplicate of #3749. should be fixed by #3752

[2021-07-29 14:38] #3756 closed

[2021-07-30 10:47] christophstrobl commented on #3724
It's fine to have them there. In case we want to introduce `MathOperators` at some point we can still delegate.

[2021-08-02 13:38] spring-projects-issues commented on #3634
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-08-02 15:32] Tiller opened #3760 "Bad performance on lot of single updates"
Hello,

While I was rewriting an existing project using reactor and spring-data mongodb, I noticed a big performance decrease which led me to create some performance tests.

You can find the said tests and a result sample at:
https://github.com/Tiller/mongo-perfs

But summary is:
| Test                                                                               | Mean Time (s) | Diff Base Driver

[2021-08-03 21:04] antdementyev opened #3762 "MongoCommandException while using of $all in aggregation"
Structure of documents:
[code]
Using of `$all` in Aggregation:
[code]
produces
[code]

[2021-08-05 07:13] christophstrobl commented on #3762
Do you have a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem?
The _pipeline_ stage looks ok to me.

[code]

Have you tried to run the aggregation on the shell? If so, does it work and what does it look like?

[2021-08-06 04:47] kotlin711 opened #3763 "Paging condition query failed"
![image](https://user-images.githubusercontent.com/86459514/128457140-58bc73d4-f3db-4dd2-be5c-95ba2bdfffed.png)
![image](https://user-images.githubusercontent.com/86459514/128457317-c11913c6-41d6-4048-8cfe-56ac1218c13f.png)
You can query normally without any conditions

[2021-08-06 11:41] christophstrobl commented on #3763
Please take the time to describe the issue in detail, use GH Markdown code fences to include code snippets and provide as much information as possible (eg. the involved domain types, version, ...)
Ideally provide a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem.
Thank y

[2021-08-07 09:58] JamesMcNee commented on #3723
Hi @christophstrobl I would like to have a stab at picking this up if that is ok? First time contributing but thinking it is reasonable enough.

[2021-08-07 11:16] JamesMcNee commented on #3726
Hi @christophstrobl I had a crack at this (see [PR](https://github.com/spring-projects/spring-data-mongodb/pull/3764)), hope that is ok? First time contributing to Spring but I **think** I have followed all of the contributing guidelines!

[2021-08-07 14:21] christophstrobl commented on #3726
@JamesMcNee thanks for the PR! Please pardon delayed review/responses during the summer/holiday season. Thanks for your understanding! We'll have a look asap.

[2021-08-07 14:31] JamesMcNee commented on #3726
@christophstrobl Absolutely no worries! Enjoy the holidays! 🌴

[2021-08-07 15:11] kotlin711 commented on #3763
spring boot  version:2.5.3
spring-boot-starter-data-mongodb:version:2.5.3

config
[code]

entity
[code]
TEST class
[code]

[2021-08-07 17:26] JamesMcNee commented on #3726
Realised that I had actually implemented this incorrectly. Will raise as a new PR when complete, apologies.

[2021-08-07 21:27] JamesMcNee commented on #3726
New PR raised [here](https://github.com/spring-projects/spring-data-mongodb/pull/3765). Looking forward to any feedback when you have time and are back from the summer holidays 😄

[2021-08-08 07:45] jagadeeshkoka commented on #3763
@kotlin711  if you see your query generated by spring data in your logs ` find query { softDelete : "true" } ` you are passing `"true"` string to compare, but in your actual shell screenshot I can see `Boolean` type, try your query as below.
       Criteria cr = Criteria.where("softdelete").is(true);
instead of
      Criteria cr = Criteria.where("softdelete").is("true");

[2021-08-08 09:50] kotlin711 commented on #3763
![image](https://user-images.githubusercontent.com/86459514/128627928-cd63ea64-d773-4701-bd6a-09cdca282a29.png)
no

[2021-08-08 09:52] kotlin711 commented on #3763
It turns out that my page was wrong. Sorry

[2021-08-08 09:53] kotlin711 commented on #3763
![image](https://user-images.githubusercontent.com/86459514/128628024-59973c30-3548-404d-9ec7-e987a89647f4.png)

[2021-08-08 16:56] jagadeeshkoka commented on #3728
How can I work on these requests ? I would like to contribute..

[2021-08-09 13:39] spring-projects-issues commented on #3634
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2021-08-09 13:39] #3634 closed

[2021-08-10 07:01] MateuszWicherski opened #3766 "Issue with autogenerating JSON schema based on `@Document` with `MongoJsonSchemaCreator`"
Hi!

I think that `MongoJsonSchemaCreator` is treating `collection like` fields of a `@Document` class incorrectly:
- for simple and enum lists (e.g. `List<String>`, `List<Enum>`), information about expected `array` type is lost and they are included in a resulting schema as `array`
- complex lists (e.g. `List<ObjectType>`), are resolved as an `object` with properties taken from `ObjectType` - the

[2021-08-10 17:14] christophstrobl commented on #3728
@jagadeeshkoka thanks for reaching out. There's already a PR (#3755) that covers those operators.
In general, just like this :) - pick one of the open issues, let us know you'd be interested and feel free to submit a PR.

[2021-08-10 21:45] antdementyev commented on #3762
Sorry I can't prepare a sample for time reasons.
But running of aggregation on the shell results the same error: `MongoServerError: Invalid $project :: caused by :: Unrecognized expression '$all'`

`$all` is not listed in the mongo doc https://docs.mongodb.com/manual/reference/operator/aggregation/
Current doc to spring doesn't support `$all` too: https://docs.spring.io/spring-data/mongodb/docs/cu

[2021-08-11 04:36] jagadeeshkoka commented on #3728
@christophstrobl thanks for the reply, so if PR is created, that means someone else is already working on it ? so we should look for open issues and create a PR with proposed solution ? once the PR is being approved we can work on it ?

[2021-08-11 04:38] jagadeeshkoka commented on #3766
@MateuszWicherski why are you not using `@Feild` annotation if you want to include any embedded documents inside a document ?

[2021-08-11 05:48] netbeansuser2019 opened #3767 "MappingMongoConverter cast map's key to String, but ask for any Object, so why?"
Lines:

https://github.com/spring-projects/spring-data-mongodb/blob/45971b212c12c67e4233d1b139de06ba088e18ee/spring-data-mongodb/src/main/java/org/springframework/data/mongodb/core/convert/MappingMongoConverter.java#L1073

https://github.com/spring-projects/spring-data-mongodb/blob/45971b212c12c67e4233d1b139de06ba088e18ee/spring-data-mongodb/src/main/java/org/springframework/data/mongodb/core/conv

[2021-08-11 07:58] Strat1987 commented on #3283
We're also missing an option to provide both multi and upsert for an update.
Perhaps add a upsertMany() method or expose the one with the boolean flags.

[2021-08-12 08:46] #3734 closed

[2021-08-12 08:47] schauder opened #3768 "Release 3.1.13 (2020.0.13)"

[2021-08-12 10:04] #3735 closed

[2021-08-12 10:06] schauder opened #3769 "Release 3.2.5 (2021.0.5)"

[2021-08-12 12:10] MadyZaid opened #3770 "single fetch with skip and limit returns wrong result"
I have MongoDB collection that have 4 documents, which I am running a query against it. The query fetches one document at a time.

the first 2 fetches return the expected result, while the last 2 fetches are fetching the third document only, while the last document is not being fetched at all.

Note: I have not investigated the issue, so I am not really sure if the issue is Spring-data or MongoDb

[2021-08-12 13:25] #3736 closed

[2021-08-12 13:26] schauder opened #3771 "Release 3.3 M3 (2021.1.0)"

[2021-08-12 14:57] #3770 closed

[2021-08-12 14:58] MadyZaid commented on #3770
i investigated and it is mongo db issue not spring data

[2021-08-13 12:03] iwosid commented on #3473
Hi, any progress on this issue?

[2021-08-16 11:28] oliverlockwood commented on #3658
Thanks for your comment on 18th June, @mp911de.  Any news on when this might be fixed?  I'm a bit worried about getting stuck on an old version of `spring-data-mongodb` while we continue to keep updating our platform (next step is to move to Spring Boot 2.5.x).,

[2021-08-17 15:05] HollandZang opened #3772 ""chunks.n" dataType Error"
When I used spring-data-mongodb to fetched a pictures from MongoDB, an exception has occurred: "java.lang.ClassCastException: java.lang.Double cannot be cast to java.lang.Integer".
 After looking at the source code, I found that the reason was that the chunk type in MongoDB was Double.
I hope the Spring official can be compatible this chunk type!
![1655237ef966bc0b105a6622255cf66](https://user-ima

[2021-08-18 05:29] jaymell opened #3773 "Close ChangeStream Cursor in Reactive API"
Howdy folks:

I've recently discovered that if an error occurs in a Reactive change stream subscriber and the stream is retried, there seems to be no way to close prior change stream connections/cursors. As a result, my connection pool is occasionally getting filled with zombie connections. This is a contrived example but conveys the issue:

[code]

A new connection is created every time the retry

[2021-08-18 22:45] fssrepository opened #3774 "Passing array parameter to $expr: { $in: [] } got codec exception inside lookup (outside lookup it works)"
I had an aggregate query:

Running the pure queries against db, both of them are working, but put into @Aggregation in RestRepositoryResource
and pass status array/list parameter inside lookup (1) failes, but outside lookup (2) not.

spring - 2.3.0.RELEASE (i'm using with kotlin, and i was not able to upgrade from this point)

Collections:
---------------
[code]

1) not working - logically speakin

[2021-08-19 04:23] christophstrobl commented on #3763
Thanks for letting us know. Closing this one as it works as designed.

[2021-08-19 04:23] #3763 closed

[2021-08-19 04:31] christophstrobl commented on #3728
Sorry it took so long to come back to you. We've got labels for like [ideal-for-contribution](https://github.com/spring-projects/spring-data-mongodb/labels/status%3A%20ideal-for-contribution) that should help you look for open tickets. If the ticket does not have an assignee nor a PR linked, that's the ones you might be interested in. Just tell us you'd like to work on something specific so we can

[2021-08-19 04:33] christophstrobl commented on #3766
Thanks for bringing this up. We'll have a look!

[2021-08-19 04:40] christophstrobl commented on #3770
Thanks for letting us know!

[2021-08-19 04:57] christophstrobl commented on #3772
This looks like an issue within the driver, could you please add the full stack trace (please use GH code fences)? \\cc @jyemin

[2021-08-19 05:21] christophstrobl commented on #3774
Could you please describe the pipeline in a valid/parsable format or ideally provide a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem.

[2021-08-19 14:49] fssrepository commented on #3774
Naturally i can't share my code, however i put the fully working version.
You need to build up your db, but i attached the minimal set of collection structure also.

[2021-08-20 01:47] HollandZang commented on #3772
This stack : document.put(fieldName, readValue(reader, decoderContext));
*key: n, value: 0.0 type is Double*
[code]

[2021-08-20 01:52] HollandZang commented on #3772
Exception happend in there:
[code]
Because `chunk.getInteger("n")`, but "n" is "Double"
[code]

[2021-08-20 03:04] jyemin commented on #3772
Hi @HollandZang,

I suspect this has happened because you used a driver that incorrectly stored the "n" field value as a double rather than an integer.  Can you tell us what driver/version was used to create the file in GridFS?

[2021-08-20 03:24] HollandZang commented on #3772
Hi @jyemin,

I used this tool `nosqlbooster4mongo-6.1.6` to save file.[website](https://www.mongobooster.com/)
it make "n"  field value as a double.

[2021-08-20 10:45] zeapo opened #3775 "Using `$set` with nested integer keys breaks the structure"
Given the following class (kotlin)
[code]
Update queries where the keys in these nested hashmaps are integers, will not go deeper than the second level:
[code]
The result of the save is:
[code]
The update query object is:
[code]
The result given by the `updateFirst` is however
[code]
Notice that the level "levelOne.0.1" has gone.

Doing the same thing in Mongo Shell gives the expected result:
[cod

[2021-08-20 11:16] christophstrobl commented on #3775
Thanks for reporting - we'll look into this.

[2021-08-20 13:28] Julien-Eyraud commented on #3760
I created a micro benchmark with JMH here https://github.com/Julien-Eyraud/spring-data-mongo-benchmark in order to help on this issue.
Here are the result for 2 warmup iterations and 5 iterations on a AWS t3.2xlarge (mongodb 4.0.19 running inside a container on the same instance) :
[code]
Benchmark | Avg (sec/ops) | Diff Base Driver
------------ | -------------|-------------
[syncRaw](https://gith

[2021-08-20 17:37] jyemin commented on #3772
Hi @HollandZang,

I tried to reproduce with NoSQLBooster for MongoDB, Version 6.2.17, and was unsuccessful. I was able to upload a file via the NoSQLBooster application, and read the file from a simple Java application.  Can you try upgrading to this version of NoSQLBooster and see if it's still reproducible in your environment?

[2021-08-21 01:10] HollandZang commented on #3772
Hi @jyemin,

I have tried and Version 6.2.17 does not reproduce this problem.
Do I need to provide the installation package of Version 6.1.6? It is still on my hard drive.

[2021-08-21 05:38] tinedel opened #3776 "Relax requirement for `GeoJsonMultiPoint` construction allowing creation using a single point"
I stumbled upon a limitation in GeoJsonMultipoint which I find unnecessary - it requires to have at least 2 points. While there are no requirements in GeoJson RFC for MultiPoint to have this and Mongo itself works just fine with 1 point in the coordinates list

Was there a reason to implement it like this? Will it cause backward compatibility issues if this requirement is relaxed?

[2021-08-22 21:34] jyemin commented on #3772
@HollandZang instead of that, can you connect to a local instance of MongoDB using Version 6.1.6, and then look in the mongod log file for a line containing a string similar to `"driver":{"name":"nodejs","version":"3.6.3"}`?  It will likely have a difference version string though.  Then post the log line here.

Going forward, do you need to continue using Version 6.1.6 or can you upgrade to 6.2.17

[2021-08-23 03:14] HollandZang commented on #3772
@jyemin
`"doc":{"driver":{"name":"nodejs","version":"3.6.0"}`

All the information
[code]

Thank you. I just found this problem in a test. Don't bother to provide MongoDB shell.
But if the shell is existing, I would like it to be provided for me to learn

[2021-08-23 06:53] mp911de commented on #3658
You can fix the issue immediately within your code by aligning the data model to the actual representation in your MongoDB documents. Other than that, we need to revisit the entire map and array position translation that isn't planned short term.

[2021-08-23 06:57] christophstrobl opened #3778 "Upgrade to MongoDB 4.3.1 Drivers"

[2021-08-23 08:35] #3749 closed

[2021-08-23 09:12] #3778 closed

[2021-08-23 09:25] #3711 closed

[2021-08-23 09:58] christophstrobl opened #3779 "Factory beans should not contain protected setters."
Setters in factory beans like `MongoRepositoryFactoryBean` should be `public`.

[2021-08-23 12:25] #3712 closed

[2021-08-23 12:44] #3718 closed

[2021-08-23 15:45] blueiceprj opened #3782 "@DocumentReference objectId problem."
Hi,

I use the new feature of document reference annotation @DocumentReference and have a issue about it. In case I have Country and City documents and City referenced to Country with this annotation. But "_Id" field of type on Country document is ObjectId. I write this code on City document as well:

[code]

When I get Country of City object it couldn't fetch data and return null. Because of Coun

[2021-08-23 21:25] JoergHeinicke5005 commented on #3522
We hit this issue before with an explicit call to count(..) with an empty query on a large collection - and could therefore quite quickly figure out the more subtle or slightly obfuscated issue when doing the following relying on [Spring Data's query method derivation](https://docs.spring.io/spring-data/mongodb/docs/3.2.1/reference/html/#repository-query-keywords):
[code]
Here the count and thereb

[2021-08-24 01:43] blueiceprj opened #3783 "$in criteria problem"
I use "_id" field as a string type and I want to use this field with $in operator like this.

[code]

But console output is like this:

`find using query: { "_id" : "{\"$in\" : [\"5b8bedceb1e0bfc07b008828\", \"5b8bedceb1e0bfc07b008829\", \"5b8bedceb1e0bfc07b00882a\"]}"} fields: Document{{}} for class:`

On execution time the criteria api adding backslash "\" to the query and don't return any data.

[2021-08-24 01:52] blueiceprj commented on #3783
Because of this problem I had to change $in operator to $or.

[2021-08-24 04:41] blueiceprj commented on #3782
I have solved this problem with converter. But I have to write converter for all referenced documents.

[code]

[2021-08-24 04:52] christophstrobl commented on #3782
Thanks for reporting - we'll look into this.

[2021-08-24 05:18] blueiceprj commented on #3782
I have already checked again and the converter not running anyway.

[2021-08-24 05:20] christophstrobl commented on #3782
I was not able to reproduce the problem based on the given information.
The test below passes, so I might be missing something here.

[code]
[code]

Can you provide a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem.

[2021-08-24 05:24] blueiceprj commented on #3782
Only Country Id implementation on city and country is different. Like this :

[code]

[2021-08-24 05:29] christophstrobl commented on #3782
Thanks - yes that's the missing piece. Good catch, the field type is not considered correctly when writing the reference.

[2021-08-24 05:30] blueiceprj commented on #3782
Ok. Thank you.

[2021-08-24 05:59] blueiceprj opened #3784 "@MongoId data type mismatch"
Spring data 3.3.0-M2

Before I use the ObjectId type for _id field on my documents and I want to change data type to string. I have prepared a mongodb script from ObjectId to String. After running the script all data converted to string type and  then added new data to documents from the application nothing changed. All _id fields have been stored as ObjectId.

Old implementation

[code]

New Impl

[2021-08-24 08:29] #3779 closed

[2021-08-24 09:00] mp911de opened #3786 "Extract Aggregation Framework docs in own source file"
Documentation has grown to multi kLOC and we should split files for easier maintenance.

[2021-08-24 09:23] #3715 closed

[2021-08-24 09:23] #3717 closed

[2021-08-24 09:23] #3727 closed

[2021-08-24 09:23] #3786 closed

[2021-08-24 09:43] christophstrobl commented on #3784
I've not been able to reproduce the issue based on the given information.

[code]
I might be missing something here. Please provide a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem.

[2021-08-24 12:12] blueiceprj commented on #3784
Ok. I see. You assign to value manually on your code. But I didn't assign any value to id field when insert document. It was null value. If the id field is null then mongodb setting automatically ObjectId. I think spring can inject data to there.

But it is not easy to use this way.

[2021-08-24 12:31] #3716 closed

[2021-08-24 12:40] #3720 closed

[2021-08-24 12:44] blueiceprj commented on #3784
Now I have resolved on event listener with BeforeSaveEvent. Thank you.

[code]

[2021-08-24 13:01] #3721 closed

[2021-08-24 14:16] #3714 closed

[2021-08-24 14:16] #3710 closed

[2021-08-24 14:16] #3730 closed

[2021-08-24 14:18] #3728 closed

[2021-08-25 09:01] #3713 closed

[2021-08-25 09:17] #3724 closed

[2021-08-25 10:54] blueiceprj commented on #3782
Than you for your quick response

[2021-08-25 14:21] #3776 closed

[2021-08-26 18:20] lexx9999 opened #3787 "NPE when List<String> has a null element"
On have a spring boot application which I  updated from 2.3.x to 2.5.2 one of my tests failed. Investigation revealed that there is an issue when there is a List<String> array where one of the values is null.

I created this test class.

[code]
It's crashing at MappingMongoConverter.ConversionContext.convert having source being null so source.getClass() issues the NPE.
[code]
Some dependencies
[co

[2021-08-28 16:38] blueiceprj opened #3789 "New feature or extending @DocumentReference annotation"
Hello,
I believe that @DocumentReference is useful and very good feature to product development. Thank you your efforts.
However, I think it would be better to use it in the following way. You should protect the default using.

This is just a suggestion.

[code]

[2021-08-30 06:44] mp911de commented on #3789
Thanks for checking out document references. References are resolved during object mapping. Object mapping doesn't use attached objects nor does it apply AOP transformations but rather produces plain objects. Accessing a value in a field or a property through its getter returns immediately the actual value.

Care to elaborate what use-case you want to address with the suggestion above?

[2021-08-30 10:23] Strat1987 opened #3791 "ComparisonOperators.Lte seems to match undefined/null value in switch caseOperator"
ComparisonOperators.Lte seems to match undefined/null value in switch caseOperator

reactiveMongoTemplate.upsert(Query.query(
                                Criteria.where("id").is(b.getId())
                        ), AggregationUpdate.update()
                                .set("field.value").toValue(
                                        ConditionalOperators.switchCases(

[2021-08-30 10:33] blueiceprj commented on #3789
Reference objects can sometimes be very large and I don't want to use all of the incoming data and I want more options (multiple annotation). Here, the reference object does not need to change. Only the fields it queries and fetch from the database should be optional.

I made this proposal to improve application performance and for more usable solution in a production environment. This is somewhat

[2021-08-30 11:59] mp911de commented on #3789
Thanks a lot. For a single-object reference, it doesn't matter much as BSON documents are capped at 16megs. If references impose significant performance drag, then we recommend fetching references explicitly instead of letting the mapping layer fetch references.

I'm closing this one since attached objects aren't valid in the context of Spring Data MongoDB.

[2021-08-30 11:59] #3789 closed

[2021-08-30 12:33] blueiceprj commented on #3789
Right now we're already doing it this way and the document reference doesn't need any more. Thanks for your replies.

[2021-08-30 13:24] #3787 closed

[2021-08-30 14:32] christophstrobl commented on #3791
The matching behaviour is the same when running the query directly on the db.
Have you tried adding another case like ` { case: { $eq : ["$field_priority", undefined] }, then: "default"}` that will capture the `null` case?

[2021-08-30 16:33] ntf opened #3792 "`@DocumentReference` does not work as a drop-in replacement of `@DBRef`"
Hi there,

I came across the new feature `@DocumentReference` as I was working on something that needs support of another new feature `TimeSeries` .

I was trying to use `@DocumentReference` on a new field as I want to store `["612cf1ef637b391363f1392e"]` instead of the DbRef equivalent `["{ \"$ref\" : \"COLLECTION_NAME\", \"$id\" : \"612cf1ef637b391363f1392e\" }"]`

Following the documentation he

[2021-08-30 16:40] Strat1987 commented on #3791
Thanks for the quick reply!

I've indeed came to a similar conclusion that it behaves the same on the
datastore itself.

There doesn't seem a method that accepts undefined. I've tried
BsonType.UNDEFINED but then I get a runtime exception and I can't find
another way to perform the check within the switch statement.

Op ma 30 aug. 2021 16:32 schreef Christoph Strobl ***@***.***

[2021-08-31 03:30] blueiceprj opened #3793 "MatchOperation criteria type mismatch"
Spring data Mongodb 3.3.0.M2

When I use Criteria with MatchOperation "_id" field type mismatch error like this. Id is string not objectId. There is no problem with other fields.

[code]

It must be output like this

`Executing aggregation: [{ "$match" : { "_id" : "5c5aa8551ad17423a4f6ef1d"}}...`

[2021-08-31 06:42] christophstrobl commented on #3791
Unfortunately `$eq` with `BsonNull.VALUE` does not seem to do the trick.
A possible solution might be to make use of `$ifNull` like this
[code]

[2021-08-31 07:38] christophstrobl commented on #3792
From reading the description I cannot spot what exactly the issue might be, given that tests in `MongoTemplateDocumentReferenceTests` should cover this pass.
Do you have a [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem? This would help us identify the issue.

[2021-08-31 08:01] Strat1987 commented on #3791
Thanks for your input.
I've already tried and failed using
CaseOperator.when(Eq.valueOf("field.property")).equalToValue(BsonType.UNDEFINED)).then("undef"),

ConditionalOperators.switchCases(

CaseOperator.when(Eq.valueOf(IfNull.ifNull("field.property").then("undefined")).equalToValue("undefined")).then("undef"),
                CaseOperator.when(Gte.valueOf("field.property")

[2021-08-31 08:58] ntf commented on #3792
I crafted this example just now with Spring Initializr.

[test-mongo-documentreference.zip](https://github.com/spring-projects/spring-data-mongodb/files/7082546/test-mongo-documentreference.zip)

Attached belo MongoDb datatabase view on Intellij IDEA.
![image](https://user-images.githubusercontent.com/355340/131472881-2b4796c0-8b7b-4efe-96ec-6c3185fd7949.png)

	at org.springframework.core.convert.

[2021-08-31 13:36] PedroEsnaola commented on #1797
My Auditing fields aren't setted even if passing entity class

![image](https://user-images.githubusercontent.com/49621948/131511810-9e677f0e-50a1-448a-955c-94989bbb9982.png)
![image](https://user-images.githubusercontent.com/49621948/131511848-ff958086-051b-49b9-b22b-ba7a9432cff7.png)
the updatedAt is setted during document creation, because i call the ReactiveMongoReposiroty method save() but wh

[2021-08-31 15:06] blueiceprj opened #3795 "Custom object mapping error"
I used aggregation query with spring data. I converted all objectId (_id and DBRef s) data to string value. Before this operation the query in running as well. On mongodb compass also running this query. The return object is custom dto object and not a document object. But now I getting this error:

[code]

[code]

[2021-08-31 16:39] blueiceprj commented on #3795
Sorry this my bad. Wrong issue.

[2021-08-31 16:39] #3795 closed

[2021-08-31 18:49] blueiceprj commented on #3783
Same result "is" operator when use with Match operator.

[code]

`[{ "$match" : { "_id" : { "$oid" : "5f4e7f18fa69b26c3ba619f8"},......]`

[2021-08-31 23:15] blueiceprj commented on #3793
If I set the id as different format of ObjectId like this "1111111" it is working properly.

`[{ "$match" : { "_id" : "111111", "deleted" : false, "gradeSettings.enableGrading" : true}}, ...]`

[2021-08-31 23:35] blueiceprj commented on #3793
I think problem is here

<img width="797" alt="Ekran Resmi 2021-09-01 01 24 42" src="https://user-images.githubusercontent.com/1829975/131589037-01f421b0-be24-4d0f-960f-2a444064f664.png">

[2021-09-01 06:58] christophstrobl commented on #3793
This sounds like the behaviour described in the [reference documentation](https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/#mongo-template.id-handling) for mapping values to the _id_ field.
Did it behave differently on a previous version?

[2021-09-01 07:05] blueiceprj commented on #3793
On previous version I used type as objectId. But now I converted to string type.

[2021-09-01 07:31] mp911de commented on #3783
Thanks for the details. Spring Data MongoDB performs an implicit type conversion to `ObjectId` when using identifiers that represent a valid ObjectId string. Check out the two variants:

[code]

renders

[code]

you can hint Spring Data to use a specific Id field type with `@MongoId` (defaults to retain the actual type):

[code]

renders

[code]

Note that the Mongo query is rendered using Mongo s

[2021-09-01 07:36] mp911de commented on #3774
@fssrepository please share at least the aggregation pipeline definition so that we can exactly reproduce what you're trying to do here. Having the direct MongoDB representation isn't helpful as we cannot reproduce the issue you're describing.

[2021-09-01 07:56] blueiceprj commented on #3783
Thank you for your reply. Id description like here on my side:

[code]

[2021-09-01 08:00] blueiceprj commented on #3783
And sometimes I use custom data object (DTO) to mapping. Its not a mongodb document object and it has id field. But on custom object as same problem.

[2021-09-01 08:04] mp911de commented on #3783
Thanks a lot. What happens is that the `$in` clause is being converted to a `String`. It should been preserved as `Document`. You can see this through the escaped quotes  `{\"$in\" : [\"5b8bedceb1e0bfc07b008828\", \"5b8bedceb1e0bfc07b008829\"`.

[2021-09-01 18:29] caspian-borison-by opened #3798 "Enhance @DocumentReference to allow OneToMany style lookups"
This is an amazing new feature and I definitely am looking forward to using it when 2.6 is released.

However, I have been playing around with it in some sandbox projects and (perhaps there is something I am missing, the documentation doesn't seem to address it?) but there appears to be one specific functional gap in the usage of it.

Assume I have:
[code]

Is it at all possible for the list of bo

[2021-09-02 09:05] petitcl commented on #3709
Hi ! I am interested in handling this issue ! Is it ok for you ?

[2021-09-02 09:49] mp911de commented on #3773
What MongoDB driver version are you using @jaymell?

[2021-09-02 14:06] ppooii12009 opened #3799 "Saving an existing document leads to insert when the identifier field is named `_id` without using `@Id`"
Hi! I'm using mongodb to handle some data.
But something is wrong when using `XX.save(Object object)` to update an existed document.
My entity is like
[code]

And following is the DAO interface

[code]

But When I use the following code and try to update the document, error appears
[code]

The error is
`E11000 duplicate key error collection: hospital.test index: _id_ dup key: { _id: ObjectId('6130

[2021-09-03 06:03] jaymell commented on #3773
Hi, thanks for the reply. This issue occurs after testing the sample code with a retry delay of 5 seconds as well and is not intermittent, so I don't believe it's I/O-related.

We're currently using the 4.0.6 version of the MongoDB driver backed by a MongoDB 3.6 server.

[2021-09-03 07:03] mp911de commented on #3773
Thanks a lot. There has been an issue in the MongoDB issue tracker that describes the same scenario as reported here. It was solved with driver version 4.2.1 with https://jira.mongodb.org/browse/JAVA-3907. Please upgrade to a newer driver to eliminate the issue.

[2021-09-03 07:03] #3773 closed

[2021-09-03 09:39] ppooii12009 commented on #3799
MongoDB version is 5.0.2 Community.
Spring Data Jpa version is 2.5.4
The dependency is
[code]

Here I use 3 java files named `TestDO.java` `TestDAO.java` and `TestController.java`
The content of `TestDO.java` and `TestDAO.java` has already been given above(the getters and setters of `TestDO.java` are omitted here), and `TestController.java` seems like following
[code]

Then run the spring project

[2021-09-03 09:51] mp911de commented on #3799
There's some fundamental mismatch here. The comment above says Spring Data JPA whereas we're discussing MongoDB issues here. Having a self-enclosed project (go to start.spring.io and generate one) is what we're looking for.

[2021-09-03 14:17] jagadeeshkoka commented on #3799
Looks like you are tryin got store duplicate value in `_id` field, can you please cross check whether you are able to pass different values or not.

[2021-09-04 03:01] ppooii12009 commented on #3799
Here's the demo project
[demo.rar](https://simplebbs-1252616544.cos.ap-shanghai.myqcloud.com/demo.rar)

[2021-09-04 03:08] ppooii12009 commented on #3799
If I store a new object with `_id` valued `null`, it's ok and `_id` will be auto generated.
If I generate a new ObjectId and it's also ok
but I check the doc and it says `save` method can update the data, which confuses me

[2021-09-06 07:19] mp911de commented on #3799
Thanks for the reproducer. It's quite a mess and it took a while to clean up the project to make it runnable. There are two issues that should be considered:

1. The used `@Id` annotation comes from the JPA project (`javax.persistence.Id`). Since MongoDB isn't related to JPA at all, the annotation is silently ignored. Please use `org.springframework.data.annotation.Id`.
2. The identifier field is

[2021-09-06 12:41] mp911de commented on #3729
Should work already as we accept `and(AggregationExpression expression)` in `ProjectionOperation`.

[2021-09-06 13:38] mp911de commented on #3709
@petitcl there was already a pull request #3794 submitted by the time of your comment.

[2021-09-06 13:51] #3709 closed

[2021-09-06 13:56] christophstrobl opened #3800 "Add support for deriving json schema for encrypted properties."
This issue aims toward support for creating a `MongoJsonSchema` containing encrypted fields for a given type based on mapping metadata.  Currently encrypted fields can only be defined manually via the `MongoJsonSchemaBuilder`.

[code]

An `@Encrypted` annotation should allow to derive required `encryptMetadata` and `encrypt` properties within a given (mapping)context.

[code]

[2021-09-06 14:32] #3799 closed

[2021-09-06 17:02] jagadeeshkoka commented on #3800
Can I work on this one ?

[2021-09-06 17:23] christophstrobl commented on #3800
@christophstrobl there's a PR (#3801). Please feel free to add your thoughts.

[2021-09-07 08:03] #3708 closed

[2021-09-07 08:04] #3784 closed

[2021-09-07 09:04] mp911de commented on #3760
Thanks a lot for the report and the benchmarks. I had a look at the benchmarks and ran these against a local MongoDB instance to avoid measurement errors caused by AWS noisy neighbors or network issues.
I found a few issues with the benchmarks themselves:

1. Heavy usage of executors/schedulers: Using `ExecutorService` or switching threads using `subscribeOn(…)`/`publishOn(…)` adds unnecessary loa

[2021-09-07 09:58] jagadeeshkoka commented on #3784
I think there should be a way to tell spring data to use `String` instead of `ObjectId` even though you specify the type in `@MongoId()`

Instead of relying on listener, there should be a better way to do this. Please suggest

[2021-09-07 10:04] christophstrobl commented on #3798
@caspian-borison-by thanks for the suggestion! Turns out with a few bits changed this can be done (#3802).

[2021-09-07 13:21] caspian-borison-by commented on #3798
Awesome! I can definitely see the self reference being useful.
Thank you!

[2021-09-07 21:26] shiv15 opened #3804 "No option 'dataSize' option to get the data size of the Mongodb collection using Java MongoOperations."
The MongoDB collection method`db.collection.dataSize()` has no option in MongoOperations. Something like, mongoOpObj.getCollection('collectionName').dataSize() could be added.

[2021-09-08 06:35] Izimbergenov opened #3805 "@DocumentReference empty list problem"
Hello,

I have a problem when using @DocumentReference with an empty list. Specifically when we initialize our list as new ArrayList<>().  Below are the test codes: the first one failed, the second one success

	static class Book
	{
		@MongoId(targetType = FieldType.OBJECT_ID)
		String id;

		String name;
	}

	static class Library
	{
		@MongoId(targetType = FieldType.OBJECT_ID)
		String id;

		@Do

[2021-09-08 06:38] christophstrobl commented on #3805
Thanks for reporting - we'll look into it.

[2021-09-08 07:25] iamanewofkotlin opened #3806 "Using `@DocumentReference` throws `ConverterNotFoundException` during constructor creation"
[code]

There is demo code below.

[code]

[code]

[2021-09-08 07:35] christophstrobl commented on #3806
Thanks for reporting - we'll look into it.

[2021-09-08 07:38] spring-projects-issues commented on #3774
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-09-08 07:59] iamanewofkotlin commented on #3806
@christophstrobl
I have some questions after had read `` spring mongodb 3.3.0-M2 reference `` guide.
The guide illustrated that ``There is no support for reading document references using reactive infrastructure.``.
That is meaning current version no support or forever no support?

[2021-09-08 08:09] mp911de commented on #3804
That isn't something we can add in Spring Data. A `dataSize()` method needs to be exposed by the MongoDB driver on `com.mongodb.client.MongoCollection` respective its reactive variant. You might want to file a ticket at https://jira.mongodb.org/.

[2021-09-08 08:09] #3804 closed

[2021-09-08 08:11] iamanewofkotlin opened #3808 "will @DocumentReference support reactive infrastructure in future versions"
The guide original has one that `` There is no support for reading document references using reactive infrastructure. ``.

That is meaning current version no support or forever no support?

[https://docs.spring.io/spring-data/mongodb/docs/3.3.0-M2/reference/html/#mapping-usage.document-references](https://docs.spring.io/spring-data/mongodb/docs/3.3.0-M2/reference/html/#mapping-usage.document-refer

[2021-09-08 08:12] mp911de commented on #3760
I found a few items that we could improve, mostly bypassing transaction participation that speeds up the use of `ReactiveMongoTemplate` by another 10%. These are going to be addressed with #3809.

[2021-09-08 09:01] formellaalex opened #3811 "Using `Query.fields().slice(String, int, int)` fails with `CodecConfigurationException`"
I've created a very basic Spring boot (v. 2.5.4 and also v. 2.6.0) project and I want to perform a simple query to MongoDB (v 4.4.4):
[code]
[code]

But it results with an exception:

[code]

Looking at the `slice(String, int, int)` definition, there is a usage of Integer[]:
[code]

Do somebody know if what is happening? Am I missing something in my configuration?
My build.gradle:
[code]

Ps. I wa

[2021-09-08 09:02] christophstrobl commented on #3808
Thanks for getting in touch! We prefer to use GitHub issues only for bugs and enhancements. Please use the search to check for existing issues before opening new ones.

Nevertheless, reference resolution incurs blocking data access when it retrieves the reference(s). Applying the same resolution strategy in a reactive environment would lead to unwanted, blocking access.

Please see #2468 and #2496

[2021-09-08 09:02] #3808 closed

[2021-09-08 09:05] christophstrobl commented on #3811
Thanks for bringing this up. We'll have a look.

[2021-09-08 11:53] #3798 closed

[2021-09-08 12:20] #3805 closed

[2021-09-08 12:40] #3806 closed

[2021-09-08 12:57] #3811 closed

[2021-09-08 12:57] mp911de commented on #3811
That's merged and backported now.

[2021-09-09 01:39] fssrepository commented on #3774
I'm familiar with the spring source code, so I will fix it myself.

Thanks

On Wed, Sep 8, 2021 at 9:38 AM Spring Projects Issues <
***@***.***> wrote:

[2021-09-09 06:34] #3760 closed

[2021-09-09 10:29] ICLXL opened #3813 "Pattern not format Special characters"
![image](https://user-images.githubusercontent.com/30027321/132670403-6ca63d22-f72a-4f32-ba91-fea2667d1dc3.png)

[2021-09-09 17:04] jagadeeshkoka commented on #3813
What are you trying to do ? `22(` is not a valid `regexp`

[2021-09-09 18:01] sebasmoyano opened #3814 "Big performance overhead querying records"
I have a mongo collection with `21` records. Querying all the records it takes `123ms` and using the driver directly takes `19ms`. So it is about `6x` slower.

The version used of Spring Data is `2.1.10.RELEASE`.

This is causing big performance issues in our project.

Any help would be really appreciated.

[2021-09-10 00:33] ICLXL commented on #3813
I want to try keyword search, just like using the like keyword in mysql, in mongo we usually use $regex:"",$options:"i", but in the springdata-mongo framework Criteria.regex(regex,options  ), the Pattern class is used for regexp, resulting in semantic inconsistency with mongo dsl, mongo $regex supports "22(", but the Criteria.regex method does not support.

[2021-09-10 04:37] christophstrobl commented on #3814
The spring data Lovelace release train (which data-mongo 2.1.x is part of) reached EOL in Oct. 2020. Please upgrade to a more recent version.
If the problem still exists with a newer version please spend some time describing it. What do the domain types look like, how do you retrieve data,...
Ideally provide a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (

[2021-09-10 05:24] divyajnu08 commented on #3775
Hi Christoph

Please find the below pull request for the solution.
Issue-3775 - Using $set with nested integer keys breaks the structure

I tried to replicate in java and found out the following :
Method: getPath(...) line 1186 , file : QueryMapper
It uses the pattern DOT_POSITIONAL_PATTERN = Pattern.compile("\\.\\d+"); to remove nested integer keys.

while removing the nested integer keys , it re

[2021-09-10 07:37] mp911de opened #3816 "Upgrade to MongoDB 4.3.2"

[2021-09-10 07:51] mp911de commented on #3813
If you would like us to spend some time helping you to diagnose the problem, please spend some time describing it and, ideally, providing a [minimal sample](https://stackoverflow.com/help/mcve) that reproduces the problem.

[2021-09-10 08:33] christophstrobl opened #3817 "Improve connection handling in tests."
We currently bind a lot of resources by not closing client instances created in tests.

[2021-09-10 08:49] #3816 closed

[2021-09-10 12:04] sebasmoyano commented on #3814
It is very simple to reproduce the issue using a simple test case:

[code]

The output is:
[code]

Find attached an example of the documents that we are reading from database.
[entity.zip](https://github.com/spring-projects/spring-data-mongodb/files/7143588/entity.zip)

[2021-09-10 12:23] sebasmoyano commented on #3814
I got same results by using version `2.1.21.RELEASE`.

[2021-09-10 13:37] mp911de opened #3818 "Upgrade to Maven Wrapper 3.8.2"

[2021-09-10 13:38] #3818 closed

[2021-09-10 13:39] mp911de opened #3819 "Upgrade to Maven Wrapper 3.8.2"

[2021-09-10 13:39] #3819 closed

[2021-09-13 07:56] christophstrobl opened #3820 "Add configuration support for MongoDB ServerApiVersion"
See: https://docs.mongodb.com/drivers/java/sync/current/fundamentals/versioned-api/

[2021-09-13 12:56] #3775 closed

[2021-09-13 13:30] caspian-borison-by opened #3822 "Query or sort by \@Reference association causes Mapping Exception - Invalid path reference <path>! Associations can only be pointed to directly or via their id property!"
When re-using @Document entities as embedded objects under another document, it is desirable to disable auto-index creation for the embedded objects. Searching the internet turns up [this stackoverflow link](https://stackoverflow.com/questions/36867710/spring-data-mongodb-how-ignore-unique-indexed-field-when-document-is-embedded-i) which seems to be the only way to get this desired behavior (ignor

[2021-09-13 13:53] mp911de commented on #3814
A single test isn't sufficient for benchmarking as running all Spring Data code once includes warmup (reflective analysis of the domain model, cache warming, interpreted code paths). These things happen typically once for the entire application runtime, yet your test includes these times in your measurement.

Please make sure to properly warm up and allow for JIT compilation that you can ideally a

[2021-09-14 07:03] #3800 closed

[2021-09-14 07:14] #3820 closed

[2021-09-14 17:09] divyajnu08 commented on #3587
Hi Christoph/Mark

Kindly find the pull request :
DATAMONGO-3587 - Support Evaluation Query Operators $expr
related to this issue and review the changes.
I also made a small change in the EvaluationOpertaors.Expr.toCriteriaDefinition() return type to Criteria kindly check if it's correct.

Thanks

[2021-09-15 11:03] RyanGibb opened #3824 "Seperate `QueryMapper.getMappedObject()` recusive logic."
# Summary

This issue is proposing separating the recursive logic of `QueryMappergetMappedObject()` from the the public method it is invoked by. This allows to handle the outer `Document query` and the nested levels of `Document query` separately.

# Detail

We (Cisco Defense Orchestrator) are overriding `MongoTemplate` to provide some restrictions on database access. Specifically, injecting a `Cr

[2021-09-15 13:29] christophstrobl opened #3825 "Change visibility of PersistentEntitiesFactoryBean."
should be _public_.

[2021-09-16 05:46] christophstrobl commented on #3824
Thanks for bringing this up.

[2021-09-16 20:53] RyanGibb commented on #3824
You're very welcome.

[2021-09-17 03:23] hrg921 opened #3826 "Declarative $jsonSchema setting"
Is there a way to set $jsonSchema declaratively?

Or is there's a plan to develop this feature?

For example,

# AS-IS

[code]

# TO-BE

[code]

[2021-09-17 06:21] mp911de commented on #3826
In short: There is not and we do not plan to implement such a feature.

The main reason is that we cannot apply a sensible strategy to feed the schema into a collection. An application _could_ create a collection upon startup with the appropriate schema, but collections can be created and dropped while an application is running. As a consequence, Spring Data MongoDB would need to check for collect

[2021-09-17 06:21] #3826 closed

[2021-09-17 07:11] #3768 closed

[2021-09-17 07:12] mp911de opened #3827 "Release 3.1.14 (2020.0.14)"

[2021-09-17 07:38] #3769 closed

[2021-09-17 07:40] mp911de opened #3828 "Release 3.2.6 (2021.0.6)"

[2021-09-17 07:53] spring-projects-issues commented on #3813
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-09-17 07:58] #3771 closed

[2021-09-17 07:59] mp911de opened #3829 "Release 3.3 RC1 (2021.1.0)"

[2021-09-20 03:02] divyajnu08 commented on #3680
Hi Mark/Christoph

I was trying to find out the root cause of this error and found out that Mongo database doesn't support a different structure for sets and while serializing it converts it to list. When spring reads it back from db , the type information(set) is lost and Array List is read. Similarly for Duration class it reads as type string. So after making some conversions finally the object

[2021-09-20 12:31] mp911de opened #3830 "Migrate to Jakarta EE 9"

[2021-09-20 13:57] spring-projects-issues commented on #3814
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-09-21 05:33] pax95 opened #3831 "Support for Atlas $search aggregation pipeline"
Add support for https://docs.atlas.mongodb.com/atlas-search/  aggregation pipeline, and the $search operator.
Currently it's not natively supported, and you use the AggregationOperation instead eg.
[code]
There is also some talk about it here https://www.mongodb.com/community/forums/t/using-atlas-search-with-java-not-working/16117/8

[2021-09-21 13:49] #3696 closed

[2021-09-21 17:43] divyajnu08 commented on #3831
Hi Mark/Christoph

Can I work on this issue ?

Thanks

[2021-09-21 17:48] divyajnu08 commented on #3490
Is this issue already fixed ? I tried to replicate it but its working fine . Even I checked Aggregation has methods for taking array of strings and list of fields.

[2021-09-22 10:39] singh-abhijeet commented on #2973
No, for `ZonedDateTime` we still need to add [bson-codecs-jsr310](https://github.com/cbartosiak/bson-codecs-jsr310) dependency and then register the codec.

[code]

[2021-09-22 12:01] emilwihlander opened #3832 "MongoRepository different response from save and findById on java.time.Instant"
## Summary
When saving (using `save`) a document containing a `java.time.Instant` property the microseconds are part of the response, but when getting (using `findById`) the same document the microseconds are removed.

## Details
[code]
The documentation for `save`:

This description makes me think that `save` and `findById` should return the same value, but the following example in kotlin, shows

[2021-09-23 08:13] christophstrobl opened #3834 "Prepare Spring Data MongoDB 4.x branch"

[2021-09-24 07:53] spring-projects-issues commented on #3813
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2021-09-24 07:53] #3813 closed

[2021-09-24 08:36] christophstrobl opened #3835 "Fix javadoc errors and warnings."

[2021-09-24 10:53] christophstrobl commented on #3766
We updated the `MappingMongoJsonSchemaCreator` to include _items_ in case you want to give #3837 a try.

[2021-09-24 18:34] GabeMedrash commented on #3490
Just want to amplify the first point detailed by OP, with an added use case and additional details.

OP writes:

Projections can work one of two ways, inclusion or exclusion. In order to support projecting one way or the other with the the existing `Aggregation` API (v3.2.4), I made use of `org.springframework.data.mongodb.core.aggregation.ProjectionOperation` which differs from OP's approach. E.g

[2021-09-27 09:36] mp911de opened #3839 "Drop support for RxJava 1 and 2"

[2021-09-27 09:42] #3835 closed

[2021-09-27 13:58] spring-projects-issues commented on #3814
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2021-09-27 13:58] #3814 closed

[2021-09-27 14:17] schauder commented on #3832
This is to be expected.

Micro and nanoseconds don't get persisted, therefore you see the difference when loading the entity again.

With `save` you get the original entity back, so you don't see this effect.

[2021-09-27 14:17] #3832 closed

[2021-09-27 14:27] emilwihlander commented on #3832
I do understand that that is the case for the current implementation, but the documentation states the opposite (quoted above). Either the implementation is incorrect or the documentation is.

[2021-09-27 23:34] divyajnu08 commented on #3490
Hi Mark/Christoph

Please find the PR for this issue:
https://github.com/spring-projects/spring-data-mongodb/pull/3840

Thanks

[2021-09-28 03:45] faryang-sh commented on #2594
Does the spring-data-mongodb support view now？

[2021-09-28 03:48] faryang-sh opened #3841 "Does the spring-data-mongodb support view"
mongodb provide view feature，i read spring-data-mongodb document，not find information about mongodb view，does the spring-data-mongodb support view?

[2021-09-28 06:43] schauder commented on #3832
While I don't agree I guess one could argue that point.

But "fixing" that would require to reload every entity after saving it, which certainly wouldn't appreciated by most users.

[2021-09-28 07:31] christophstrobl commented on #3834
see: 4c05d7e2df4b9df1915169b4eab63860a4800ef4

[2021-09-28 07:31] #3834 closed

[2021-09-28 07:37] christophstrobl commented on #3841
Please do not open new issues for questions that you asked on existing (#2594) ones. Thank you!

[2021-09-28 07:37] #3841 closed

[2021-09-28 07:39] christophstrobl commented on #3839
Closed via: 67c7debd8186f495e57fc5165f5262699a283a14

[2021-09-28 07:39] #3839 closed

[2021-09-28 07:39] christophstrobl commented on #3830
Closed via: b16c19b157426135982acf0eedffad7aff14255d

[2021-09-28 07:39] #3830 closed

[2021-09-28 07:41] #3772 closed

[2021-09-28 08:29] christophstrobl commented on #3767
Sorry it took so long to get back to you. Thanks for bringing this to our attention! Do you want to submit a PR or should we take care of this?

[2021-09-28 09:18] christophstrobl commented on #3792
Thanks for the sample. There's been an update on constructor argument handling in the recent `M3` release that fixes parameter conversion. However the sample reveals another issue in expression evaluation that needs to be targeted before RC1.

[2021-09-28 09:19] christophstrobl opened #3842 "DocumentReference collection evaluation fails for non expression values."

[2021-09-28 09:27] seolys opened #3843 "When I use '@Tailable', 'nioEventLoopGroup' Thread not termination"
https://github.com/seolys/java-webflux-mongodb-sse
-----
I made a simple program using MongoDB.

A thread occurs every time a web request is connected.
The problem is that even if the connection is disconnected, the thread does not disappear.

Over time, 'boundedElastic' disappears.
But 'nioEventLoopGroup' are still alive.

I'm worried and I hope these are sorted out.

[code]
[code]

[code]

And s

[2021-09-28 18:02] ntf commented on #3792
You are welcome and glad this helps.

[2021-09-28 20:13] c0ncentus opened #3845 "[Enhance] Expose function wich translate ObjectID to hexId."
hi,

Spring boot : 2.5.4
Java : 16

## What
Please expose a function for translating this:
[code]
to

![image](https://user-images.githubusercontent.com/25374826/135146421-3cf95b1d-ae08-4d45-a320-52c6a8376001.png)

## Why
I understand that Spring boot expose many annotations.
 However I want my API  **binding** my mongodb database with my endpoints.

So I can build my Springboot mainly with JSONOb

[2021-09-29 06:00] christophstrobl commented on #3845
Judging from what I understand given the description above, this does not seem to be related to Spring Data nor Spring Boot.
For problems with the driver and/or the `bson.codecs` please reach out to the [team at MongoDB](https://jira.mongodb.org/projects/JAVA/).

In case this really is an issue Spring Data MongoDB, please spend some more time describing it. Ideally take the time to provide a compl

[2021-09-29 06:32] SujanKumarMitra opened #3846 "Enhancement | Allow Spring Application to use Embedded Database without integration tests"
**Context**:
We can use the H2 database if we don't want to connect to a real DB during developments. I want the same functionality for Embedded MongoDB as well.

**Problem**:
If we add embedded MongoDB dependency, but remove the test scope, then even if a real database URI value is given in `spring.data.mongodb.uri`, the `EmbeddedMongoAutoConfiguration` ignores that and connects to the embedded o

[2021-09-29 10:13] c0ncentus commented on #3845
https://github.com/c0ncentus/Spring-mongo-issueId
PS: VerifyBeforEachRequest verify it's matching my config on Database config.
_
_
_
_
_
_
This is my only GET method (for fetch all data, such a real basic method for API)
"project" is Database and "object" is Collection
[code]

## Main issue I have
and have this type of data :
[code]
I expect to have this kind of data ... either this :
[code]
or e

[2021-09-29 11:04] emilwihlander commented on #3832
I don't see what "Use the returned instance for further operations as the save operation might have changed the entity instance completely." would refer to if this sort of transformation isn't part of it. But yes, the overhead might be more of a problem than actually fixing this, I agree.

[2021-09-29 12:08] christophstrobl commented on #3845
I cannot see any usage of spring-data other than being referenced in the pom to have client configuration bootstrapped.
Closing this one because all interaction with MongoDB is done via custom code, unrelated to functionality spring data provides.

[2021-09-29 12:08] #3845 closed

[2021-09-29 12:13] christophstrobl opened #3847 "DocumentReferences should follow id conversion rules."
A reference to an object that uses a `String` that represents a valid `ObjectId` should be stored as `ObjectId` unless it has an explicit write target, so that the conversion follows the same as when storing the actual document.

[2021-09-29 13:17] c0ncentus commented on #3845
extract from DatabaseSupport.java in nameOfFolder/src/main/java/com/feanaro/lindale_api
if you talk about  spring-data-mongodb there it is some usage
[code]

are you sure ?

[2021-09-29 14:38] christophstrobl commented on #3845
yes.

[2021-09-30 09:31] mp911de commented on #3843
This is a netty/driver question and has nothing to do with Spring Data. Generally spoken, netty uses a fixed number of threads that are shut down upon application/driver shutdown while bounded elastic pools (as the name implies) are elastic pools where threads can come and go away.

[2021-09-30 09:31] #3843 closed

[2021-10-01 10:11] blueiceprj opened #3849 "Lazy @DocumentReference getting empty object"
Hi,
I use lombok and mapstruct together on my project. I wrote a decorator class for mapping object from Document-to-DTO. If I use decorator method "toDto" its getting empty object like this. But the database reference is null.

[code]

[code]
![Clipboard - October 1, 2021 2_55 PM](https://user-images.githubusercontent.com/1829975/135603309-77038fe6-5234-4f9b-bd44-4ef791f90554.png)

[2021-10-01 10:41] saurabhcdt commented on #2557
Is this working for you? I'm having same issue. But I'm not sure on libraries/imports used. Is nay specific maven dependency needs to be added for this? Can you please provide complete implementation or point to code link if possible?

[2021-10-01 10:53] spring-projects-issues commented on #3766
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-10-01 11:09] blueiceprj commented on #3849
I should check if Id exist.

`if (document.getEnrolledClass() != null && document.getEnrolledClass().getId() != null)`

[2021-10-01 11:48] blueiceprj commented on #3849
If I remove lazy property or set to false everything is running as well.

[2021-10-01 11:58] christophstrobl commented on #3849
Right now, we struggle to understand what you want to achieve. Please take the time to provide a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem.

[2021-10-01 11:59] blueiceprj commented on #3849
When I update a document has reference object its getting this error.

[code]

<img width="945" alt="Ekran Resmi 2021-10-01 13 58 33" src="https://user-images.githubusercontent.com/1829975/135616373-36959708-7ed7-475e-ba47-4bc0117ef909.png">

[2021-10-01 12:07] christophstrobl commented on #3849
It does not help to post images and partial stack traces without their context (domain types involved, the update statement, additional setup like converters, etc.)
As said, if you'd like us to spend some time investigating, please take the time to provide something that reproduces the problem.

[2021-10-01 12:23] blueiceprj commented on #3849
Ok. Sorry about that. I am going to explain as an example.

According to this example (lazy=false) the reference object (getCountry()) return empty object but not null. All country fields is null also Id field. I guess the the lazy referenced proxy object is not running properly.

[code]

If I set lazy false or remove this option the reference object is not empty and getting all fields values

[co

[2021-10-01 12:30] blueiceprj commented on #3849
City object on mongodb

<img width="371" alt="Ekran Resmi 2021-10-01 14 30 34" src="https://user-images.githubusercontent.com/1829975/135620037-881f5346-c6ea-400f-ace5-35146dff4bbb.png">
go

[2021-10-01 13:06] blueiceprj commented on #3849
To be sure I'm checking again right now. And everything is running properly. This is my bad.

[2021-10-03 09:10] chlegou opened #3850 "Dynamic agregation pipeline from method parameter"
I'm looking for dynamic @Aggregation pipeline affectation.

you know already that we could affect a string array to @Aggregation annotation like this:

    @Aggregation({
            "{ $unwind : { path : $skills } }",
            "{ $group : { _id : $skills, names : { $push : $name } } }",
            "{ $project : { _id : 0, skill : $_id, names : 1 } }"
    })
    Flux<SkilledPeople> getSkilledP

[2021-10-04 06:19] christophstrobl commented on #3849
Thanks for letting us know! Glad it works for you now :)

[2021-10-04 07:25] christophstrobl opened #3851 "DocumentReference handling breaks jMolecules integration."
jMolecules association handling does no longer work as we do no longer reach the point of registered conversions for the association.

[2021-10-04 12:51] #3851 closed

[2021-10-05 06:31] MateuszWicherski commented on #3766
Hi! Sorry for delay, I had no time to check it. The fix looks nice, I have checked it against my code and it is working as expected. 5 star job!

[2021-10-05 06:53] christophstrobl commented on #3766
@MateuszWicherski thanks for giving it a try!

[2021-10-05 07:42] #3842 closed

[2021-10-05 08:06] mp911de opened #3853 "`QueryMapper` and `UpdateMapper` do not properly consider `@DocumentReference` to non-id properties"
Using document references with non-Id properties in the context of queries and updates render invalid query documents. Consider the two examples below.

[code]

Reproducer:

[code]

Object model

[code]

[2021-10-05 08:08] #3847 closed

[2021-10-05 08:33] spring-projects-issues commented on #3767
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-10-05 14:34] #3849 closed

[2021-10-05 15:30] blueiceprj opened #3854 "DocumentReference Proxy object(lazy) is not running properly"
In my case I have a nested referenced object like this.

[code]
I get a document using repository with findOne. I just want to check circular references. If the database reference value of nextGradeLevel is getting null pointer error.

[code]

[code]
<img width="993" alt="Ekran Resmi 2021-10-05 17 01 34" src="https://user-images.githubusercontent.com/1829975/136052788-f6fc74e2-abd6-4719-8c4b-7903d

[2021-10-06 08:21] christophstrobl opened #3855 "Upgrade to MongoDB 4.3.3 Drivers"

[2021-10-06 08:51] #3855 closed, assigned to christophstrobl

[2021-10-07 14:01] #3766 closed

[2021-10-07 21:41] MarcBridner commented on #3148
Are there any plans to merge this PR? I just hit the same issue and the PR looks like it'd fix it.

[2021-10-09 12:00] chlegou opened #3857 "support Spring data aggregation pipeline in SpEL expressions."
mongo repositories aggregation annotation @Aggregation accepts 2 types of arguments:
- String: simple aggregation query. (manu examples are available in official doc, the link above).
- String[]: aggregation queries pipeline.

example format of aggregation queries pipeline

    // it returns list, can't return page. limitation by official library
    @Aggregation({
      "{ $match : {.......},",

[2021-10-11 12:30] mp911de opened #3859 "Upgrade to Maven Wrapper 3.8.3"

[2021-10-11 12:30] #3859 closed

[2021-10-12 08:33] spring-projects-issues commented on #3767
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2021-10-14 14:03] christophstrobl opened #3860 "Upgrade to MongoDB 4.4.0-beta1 Drivers."

[2021-10-14 14:22] #3860 closed, assigned to christophstrobl

[2021-10-18 09:08] #3827 closed

[2021-10-18 09:09] mp911de opened #3862 "Release 3.1.15 (2020.0.15)"

[2021-10-18 09:26] mp911de opened #3863 "Release 3.2.7 (2021.0.7)"

[2021-10-18 10:46] c0ncentus opened #3864 "[updateOne] Bson produce error"
Hi,
Java:16,
Spring: 2.5.4

# Issue

"reachable" is one of my property i want to update with PATCH http verb
[code]

here what i execute ,
I have no issue for getting specific document, delete specific document but for update specific content I have to use ```remplaceOne``` for something working well. The error occurs when making ```updateOne```

# Code
[code]

[code]
[Mongodb Driver documentation

[2021-10-18 12:03] mp911de opened #3865 "Release 3.3 GA (2021.1.0)"

[2021-10-18 12:42] thekaleidoscope commented on #3767
@christophstrobl @mp911de is this still relevent? if so, can you please let me know on the above query?

[2021-10-18 12:43] thekaleidoscope commented on #3530
@christophstrobl @mp911de is this still relevent? if so, can you please validate my understanding above?

[2021-10-25 14:16] francescolarocca opened #3867 "Can't register org.springframework.core.convert.converter.Converter as Lambda function"
If you register Converter which is functional interface with lambda the method above in CustomConversion class goes in error:
`
private Streamable<ConverterRegistration> getRegistrationFor(Object converter, Class<?> type, boolean isReading,
				boolean isWriting) {

			Class<? extends Object> converterType = converter.getClass();
			Class<?>[] arguments = GenericTypeResolver.resolveTypeArguments(c

[2021-10-26 06:28] #3867 closed, assigned to nobody

[2021-10-27 06:38] indiepopart opened #3868 "AbstractReactiveMongoConfiguration seems related to spring boot trying mongodb at 127.0.0.1"
I am testing a webflux application with spring-boot-starter-data-mongodb-reactive, and used AbstractReactiveMongoConfiguration to setup custom mongodb converters as explained in https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/#mongo.custom-converters.xml.

Using docker, I get monitor exceptions and connection errors:

First attempt:
`demo_1     | 2021-10-27 06:09:07.032  INF

[2021-10-28 10:43] adi-gido opened #3869 "Indexes dont work as expected on spring-data-mongodb 3.2.5"
Since the auto indexes were set to false by default, creating the indexes programmatically on a spring application causes indexes to be created wrong.

It seems the cause for this is a fix for spring-data-mongodb in versions 3 and up [https://github.com/spring-projects/spring-data-mongodb/commit/ab5b1f01409b301483a0692a9417522731ce40a5]

mapper.getMappedSort call leads to collection.createIndex pa

[2021-10-29 15:42] Pastissad opened #3870 "`MappingMongoJsonSchemaCreator` does not resolve embedded documents subclasses/interfaces implementations attributes"
I am trying to setup automatic Client-Side Field Level Encryption via a generated Json Schema using the new` @Encrypted ` annotation.
Doc. reference : https://docs.spring.io/spring-data/mongodb/docs/3.3.x/reference/html/#mongo.jsonSchema
Example 90. Client-Side Field Level Encryption via Json Schema

I stumbled into a severe limitation that impacts the schema generation through MappingMongoJsonSch

[2021-11-02 08:32] christophstrobl commented on #3870
Thanks for reporting. The current behavior is intended because the `SchemaCreator` only operates upon the declared types. Nevertheless, we understand the issue and will investigate potential solutions.

[2021-11-03 11:34] brybakov1973 commented on #3869
I am going to give you a bit more information on the issue. The duplicate condition caused by Map of InteractionElements. Here is the code that caused it:
private HashMap<String, AbstractInteractionElement> interactionElements = new LinkedHashMap<>();

When spring-data-mongo 2.2.9 was processing it to get mappedKey, it uses the method
protected String mapPropertyName(MongoPersistentProperty proper

[2021-11-03 11:36] sjerman opened #3871 "Backwards incompatibility in 2.5.6"
Hi Folks,

Trying to bring our application forward to 2.5.6 and am running into an issue with @Query.

Had same issue last time I did the migration - #3401 .. maybe the fix didn't make it to 2.5

The query was:
[code]
Get this error:

[code]

[2021-11-03 11:47] christophstrobl commented on #3871
If you are referring to Spring Boot 2.5.6, using Data MongoDB 3.2.6, then the fix for #3401 is in.

[2021-11-03 11:50] sjerman commented on #3871
Yes. Those are the versions ... I have a test project that is 'stock' 2.5.6/3.2.6 giving that error. I'll do a few more checks.. just in case. Shall I upload the test project?

[2021-11-03 11:58] sjerman commented on #3871
Looking at the code it is parsing the BSON before any SPEL processing.... I guess that is the issue.

Demo project showing issue is attached. (run RepoTests junit)

[issue.zip](https://github.com/spring-projects/spring-data-mongodb/files/7467335/issue.zip)

[2021-11-03 12:00] christophstrobl commented on #3871
thanks for the reproducer - we'll have a look.

[2021-11-05 09:37] IsNull opened #3872 "Support AggregationUpdate / UpdateSpecification on Bulk API"
We want to use BulkOperations with AggregationUpdates.

Currently, BulkOperations defines its API like below, using `Update` and not `UpdateDefinition`.
[code]

Looking at the code and usage, this could be switched to `UpdateDefinition` and thus be more generic.

Background is, that we want to use `AggregationUpdate` with the bulk api and this class does only implement `UpdateDefinition` and not e

[2021-11-05 10:05] arturbdr commented on #3259
Using Spring boot 2.5.6 with _spring-boot-starter-data-mongodb_ (2.5.6) and _mongodb-driver-sync_ (4.2.3) still gives the warning on project startup.

[2021-11-10 11:23] boerngen-schmidt opened #3873 "Automatic generation of complex primary keys"
Hello everyone,

I wanted to request a feature for generating complex primary key for a Document.

An example Document and complex key
[code]

When calling save() it fails at https://github.com/spring-projects/spring-data-mongodb/blob/f94a7ee742fca024eb13bd240d5fa320c1435da5/spring-data-mongodb/src/main/java/org/springframework/data/mongodb/core/EntityOperations.java#L616 since VersionedKey is not

[2021-11-10 13:08] mp911de commented on #3873
That happens within the database. Upon document insertion, that does not contain a `_id` field, MongoDB auto-generates an identifier and hydrates it back to the `Document`.

`MongoTemplate` then populates the identifier into the saved object, see

https://github.com/spring-projects/spring-data-mongodb/blob/f94a7ee742fca024eb13bd240d5fa320c1435da5/spring-data-mongodb/src/main/java/org/springframewo

[2021-11-10 13:08] #3873 closed

[2021-11-10 14:44] boerngen-schmidt commented on #3873
That is exactly what I'm doing and thank you for clarification that the IDs are generated by MongoDB itself.

[2021-11-11 13:18] christophstrobl commented on #3822
Please do not use an annotation that indicates an association between entities to prevent index creation, which is a different matter. In case autoindex  does not work for you, consider to disable the feature and set up the index manually.
In the light of newly added `@DocumentReference` it still might make sense to relax the restriction.

[2021-11-11 14:52] christophstrobl commented on #3854
If you would like us to spend some time helping you to diagnose the problem, please spend some time describing it. Right now, we struggle to understand what you want to achieve.

[2021-11-11 14:55] christophstrobl commented on #3792
I think we can close this one because #3842 has been resolved meanwhile. If you're still having trouble please feel free to drop a note and reopen the issue.

[2021-11-11 14:55] #3792 closed

[2021-11-11 17:14] christophstrobl opened #3875 "Upgrade to MongoDB 4.4.0 Drivers."

[2021-11-11 18:08] ntf commented on #3792
Thanks @christophstrobl , although I don't understand how the change set in #3842 fixed this issue but I will take some time to upgrade and revert if it doesn't fix the issue.

[2021-11-12 06:24] #3875 closed

[2021-11-12 07:47] blueiceprj commented on #3854
Actually the problem is simple. When the document reference is lazy loaded  it return as null. But the document and its reference are exist on db.

[2021-11-12 09:05] #3862 closed

[2021-11-12 09:07] schauder opened #3876 "Release 3.1.16 (2020.0.16)"

[2021-11-12 10:07] #3865 closed

[2021-11-12 10:08] schauder opened #3877 "Release 3.3.1 (2021.1.1)"

[2021-11-12 10:09] #3863 closed

[2021-11-12 10:10] schauder opened #3878 "Release 3.2.8 (2021.0.8)"

[2021-11-12 13:32] SSchepers opened #3879 "Bootstrap mode not configurable"
While working on a project I came across the requirement where a connection to a MongoDB database should not be opened until we absolutely must. Looking around online as to what's available I came across the [BootstrapMode](https://docs.spring.io/spring-data/commons/docs/current/api/org/springframework/data/repository/config/BootstrapMode.html) enumeration. For JPA repositories this can be set in

[2021-11-12 13:51] christophstrobl commented on #3879
The connection is opened by the `MongoClient` on `create` and not by the repository support. Obtaining a `MongoCollection` from the driver does not require any server interaction.

[2021-11-12 14:46] SSchepers commented on #3879
So the problem does not have to do with the repository initialization but rather the MongoClient initialization. Now I'm not sure if this is still the right place to look for a solution but is there a way to delay the MongoClient from making a database connection until a MongoRepository actually needs it? By default it connects eagerly on start-up

[2021-11-13 23:43] scj7t4 opened #3880 "Inconsistent Conversion of LocalDate with Documents"
I've noticed an inconsistency with how JSR-310 `LocalDate` is converted to mongo dates when it is put into `org.bson.Document`.

Reproduction:

Using 'org.springframework.boot:spring-boot-starter-data-mongodb:2.5.6'

[code]

(Full project repro here: https://github.com/scj7t4/mongodb-localdate-bug)

When I run this test, I expect the values of `fieldA` and `inner.fieldB` to be the same. However, t

[2021-11-15 12:59] christophstrobl commented on #3880
thanks for pointing that out - good catch.

[2021-11-16 08:52] mp911de opened #3881 "Migrate off SLF4J to Spring JCL"
Spring Framework's JCL component provides a consistent logging layer that we should use instead of SLF4J.

See also spring-projects/spring-data-commons#2496

[2021-11-16 09:51] mp911de opened #3882 "Release 3.4 M1 (2021.2.0)"

[2021-11-16 10:00] christophstrobl opened #3884 "Add static method to create OR criterion."
Currently the only way to create an `$or` only query is counter intuitive and leads people to creating `$and` combined criterions to a single element `$or` as outlined below.

[code]
[code]

The correct, rather cumbersome usage would be as follows:
[code]

Introducing a `static or(Critieria... criterions)` method would allow for simpler usage
[code]

[2021-11-16 10:31] christophstrobl opened #3885 "Translate criterion targeting the same key to its $and/$or representation."
Specifically translate eg. `where("name").is(...).or("name").is(...)` into `$or : [ { "name" : ... }, { "name" : ... } ]`.

[2021-11-16 10:55] blueiceprj commented on #3854
And while reference data is not exist in database then the documentreference object must be return null. In my case documentreference object is not null but reference value is null. For example.

`doc.getReferenceObject() != null `

but

`doc.getReferenceObject().getId()  == null`

if the "Id" is null .....getReferenceObject() must return null value. Because of that we have to double check on our

[2021-11-16 13:39] #3881 closed

[2021-11-16 19:09] BarracudaX opened #3886 "Reactive Mongo with Kotlin suspend functions"
When writing ReactiveMongoRepository/ReactiveCrudRepository with spring-boot-starter-data-mongodb-reactive and declaring suspend find function with non-nullable kotlin return types, the repository returns null when it can't find an entity instead of EmptyResultDataAccessException.

Here is the fun declaration:
`suspend fun findSomeEntitiesById(id: Long): SomeEntity`

And this test prints null when

[2021-11-17 10:12] Pastissad opened #3888 "MongoJsonSchemaCreator with encryptedOnly filter generates invalid schema when using collections of objects with encrypted fields"
Hello,

According to the MongoDB automatic CSFLE specs (https://docs.mongodb.com/manual/reference/security-client-side-automatic-json-schema/#std-label-field-level-encryption-encrypt-keyword) :

However, the MongoJsonSchemaCreator::encryptedOnly filter provided to generate Mongo's encryption schema generates a schema with encryption configuration in the subschema of collections' "items" node when

[2021-11-18 14:52] spring-projects-issues commented on #3868
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-11-19 08:45] lkqm opened #3889 "MongoTemplate count result is incorrect when query with pageable"
spring-data-mongodb: 3.1.14

My Code:
[code]

Bug In spring-data-mongodb: org.springframework.data.mongodb.core.QueryOperations#getCountOptions
[code]

[2021-11-20 13:24] thekaleidoscope commented on #3767
@christophstrobl Hi, just flagging this again in case you missed it

[2021-11-20 13:30] thekaleidoscope commented on #3530
@christophstrobl Hello, can you please let me know if my understanding of the issue is correct and if it's still relevant to work on it?

[2021-11-22 11:33] GitLinko commented on #3259
I have the same issue on Spring Boot 2.5.6 / Spring Data MongoDB 3.2.5

[2021-11-23 06:24] christophstrobl opened #3890 "Default converter registration logs warning message."
Related to #3259 (see comments).
version: 3.2.5

[2021-11-23 18:51] goldami1 opened #3891 "Add beforeLoad lifecycle callback"
Hi,

Following #3334 , I suggest to add additionally to the afterSave, afterConvert and beforeSave callbacks, also the beforeLoad.
Similarly to how AfterLoadEvent is emited before the reader is used to read the document (in ReadDocumentCallback).
Thus, Similar functionality would be apprepciated at the Spring Data EntityCallbacks level for both ES and MONGO.

(for example can be named like: maybeC

[2021-11-24 08:19] mp911de commented on #3891
Care to elaborate? MongoDB supports `AfterLoadEvent`/`AfterConvertEvent` and many more. A `BeforeLoad` without a document doesn't make much sense.

[2021-11-24 09:00] goldami1 commented on #3891
@mp911de why `BeforeLoad` without a document? line 3177 is publishing `AfterLoadEvent` with a concrete document before reader is triggered for further domain object translation.
Thus, I suggest to add a maybeCallAfterLoad with the same document as published in `AfterLoadEvent` right after the event publishing.
(at this moment, document is definitely not null according to line 3176)

[2021-11-24 09:13] mp911de commented on #3891
`AfterLoadEvent` is called after getting hold of a `Document` so `BeforeLoad` would need to happen before that, right? Likely there's already some confusion here.

In any case, having an entity callback for `AfterLoad` isn't possible because we do not have an entity instance at that time and entity callbacks (as you can tell from the name) are driven by entities.

[2021-11-24 09:37] goldami1 commented on #3891
I think the confusion is caused due to callback naming. I meant `AfterLoad` callback which would be parallel to `AfterLoadEvent`.
However, I do understand that due to this callback being an Entity callback, it supposes to hold an entity. which makes it unreasonable to be used without an entity.
On the other hand, this callback triggering prior to domain object creation can be useful.

For example

[2021-11-24 09:47] mp911de commented on #3891
Thanks for the additional context.

For the time being, if you use the synchronous event multicaster, then you're good to post-process the `Document` in `AfterLoadEvent`. Alternatively, you can wrap or subclass `MappingMongoConverter` and add your customizations there.

[2021-11-24 09:50] goldami1 commented on #3891
@mp911de Does it make sense this mapping lifecycle part to be part of the mapping callbacks? (some similar callbacks mechanism to EntityCallBack mechanism)

[2021-11-24 14:29] mp911de commented on #2860
See also https://github.com/spring-projects/spring-data-commons/pull/2420.

[2021-11-25 14:52] spring-projects-issues commented on #3868
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2021-11-25 14:52] #3868 closed

[2021-11-26 14:34] divyajnu08 commented on #3831
Hi

Accidently I deleted the PR , I was deleting the other one.
Is there any way it can be recovered ?
Or I have to write it again ?

Thanks

[2021-11-29 08:56] christophstrobl commented on #3889
To me it seems as if the behaviour you see is exactly the one described in the javadoc comment.

[2021-11-29 09:09] lkqm commented on #3889
This is inconsistent with previous versions of 3. X. generally, limit and skip are not required for paging count， this will affect the count result in some cases

[2021-11-29 10:29] christophstrobl commented on #3889
The behaviour should be the same since version 2.2 (see #2691).

[2021-11-29 16:23] bjornharvold opened #3893 "Java 17 - Unable to make private java.time.LocalDateTime(java.time.LocalDate,java.time.LocalTime) accessible: module java.base does not "opens java.time" to unnamed module @18078bef"
Hi,

I am upgrading our Java version to 17 today and encountered this error with 2 of our Spring Boot apps running MongoDb. I have looked everywhere for a solution to this problem but have been unable to find someone with a similar problem running Spring Data MongoDb.

GSON had a similar error here: https://github.com/google/gson/issues/1507

Please advise. Do I need to change anything on my end?

[2021-11-29 18:34] jxblum commented on #3893
While the _Spring_ team is still in transition to moving all _Spring_ bits to Java 17, Jakarta EE 9, etc, all based on the upcoming _Spring Framework_ 6, which also requires the bits (i.e. vendors of the bits) for which we integrate with to also provide compatible support for Java 17 and so, you can in the interim, set the following JVM option when running your Spring Boot application...

[code]

[2021-11-30 01:53] lkqm commented on #3889
Thanks

[2021-11-30 01:53] #3889 closed

[2021-11-30 02:31] bjornharvold commented on #3893
Thanks @jxblum

This enables me to move forward w. migration.

#greateam #greatframwork #greatsupport

🚀🚀🚀🚀🚀🚀🚀

[2021-11-30 02:31] #3893 closed

[2021-12-02 07:04] divyajnu08 commented on #3473
can i work on this issue ? I checked out main branch and there are some errors while running test cases.

[2021-12-02 09:31] alxxyz opened #3895 "Add support for CriteriaDefinition on $or operator"
Currently in `Criteria` class we have the method
[code]
This can be changed to
[code]
In this case it will be more flexible, and also it will be possible to have `Criteria` and `TextCriteria` mixed in $or operator.

[2021-12-02 14:29] yoobi opened #3896 "TextQuery ignores sort order when using sortByScore."
Hello,

First of all here is my dependency : "org.springframework.boot:spring-boot-starter-data-mongodb-reactive:2.6.1"

Here is my query:
[code]
However when I print the query I get this:
[code]

When looking at the source code you can clearly see that using sortByScore() ignores the order of sort and puts it in front of the Sort
[code]
the pageable sort is put at the end and therefore not doing

[2021-12-03 08:20] heheshang opened #3897 "@query annotations"
How to use custom annotations instead of @query annotations

[2021-12-03 08:50] wangxing-git opened #3898 "TypedAggregation.project incorrect conversion"
[code]
Get when using`TypedAggregation.project(A.class)`
[code]
The correct result should be
[code]

#### spring-data-mongodb version: 3.1.2

[2021-12-03 09:25] christophstrobl commented on #3897
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add some more details if you feel this is a genuine bug.

[2021-12-03 09:25] #3897 closed

[2021-12-05 19:47] xjme opened #3899 "Should MappingMongoConverter#read really require to call getCollection of MongoPersistentEntity?"
Hi, we want to upgrade from spring boot 2.5.x to version 2.6.x. In the new version of SB, the spring data mongo db was updated from version 3.2.x to 3.3.x.

In our code base, we often use `MappingMongoConverter` provided by `MongoTemplate` and try to deserialize a document (bson object) to Java entity (using `MappingMongoConverter#read(Class<S> clazz, Bson bson)`).

In version 3.3 of spring data m

[2021-12-06 10:35] brianmarting opened #3900 "ReactiveMongoTemplate: The 'cursor' option is required"
As the title states, I'm getting `com.mongodb.MongoCommandException: Command failed with error 9 (FailedToParse): 'The 'cursor' option is required, except for aggregation explain'` when running my aggregation with the options: `.withOptions(AggregationOptions.builder().allowDiskUse(true).cursor(new Document()).cursorBatchSize(1).build())`.

When looking a bit into the reactive template code, it se

[2021-12-06 13:37] mp911de commented on #3900
Care to provide additional details? What MongoDB driver version are you using? The cursor options is being configured by the MongoDB driver class `com.mongodb.internal.operation.AggregateOperationImpl`.

[2021-12-06 15:43] caspianb opened #3901 "`NullPointerException` in `MongoPersistentEntityIndexResolver.appendTextIndexInformation(…)`"
Since upgrading to 2.6.1 I am seeing failures when invoking IndexResolver::resolveIndexFor(...) for some specific entities.

We have a generic pattern using javax.measure classes using an enum which implements an interface defined in this way:

[code]

Pre 2.6, index resolution worked just fine on entities containing this object. However, after upgrading to 2.6.1 I get a NullPointerException with

[2021-12-06 21:14] caspianb opened #3902 "onAfterLoad/onAfterConvert callbacks are not invoked on @DocumentReference loaded entities"
The "onLoad" lifecycle events for entities do not appear to fire when loaded via a @DocumentReference annotation.

Was this a miss or working as intended?

[2021-12-06 21:55] caspian-borison-by commented on #3891
@mp911de
I realize this is perhaps better suited as a feature request (and it makes the assumption that #3902 is a valid issue as well).

However, reading this, I realized there might be a viable use case for a beforeLoad event/callback which works in this way:
* executed only when a specific ID is being used (e.g. findById)
* returns a Document object that, if non null, bypasses the actual mongo

[2021-12-07 06:35] christophstrobl commented on #3901
Thanks for reporting! We'll have a look.

[2021-12-07 07:57] mp911de commented on #3902
This is by design as references are assumed to be part of the aggregate root and we trigger only events and callbacks for the root document.

[2021-12-07 09:40] christophstrobl commented on #3898
Thanks for reporting!

[2021-12-07 09:44] liweiye-2021 opened #3903 "use spring-data-mongodb2 ,Download speed is very slow"
use GridFSBucket  api

[2021-12-07 10:15] mp911de commented on #3903
If you would like us to spend some time helping you to diagnose the problem, please spend some time describing it and, ideally, providing a [minimal sample](https://stackoverflow.com/help/mcve) that reproduces the problem.

[2021-12-07 10:15] brianmarting commented on #3900
I downgraded it to version 4.2.0 and its still giving the error, currently at driver 4.2.3: `{ driver: { name: "mongo-java-driver|reactive-streams|spring-boot", version: "4.2.3" }, os: { type: "Windows", name: "Windows 10", architecture: "amd64", version: "10.0" }, platform: "Java/AdoptOpenJDK/11.0.11+9" }`.
In my code I'm doing `reactiveMongoTemplate.aggregate(Aggregation.newAggregation(...` whic

[2021-12-07 10:53] mp911de commented on #3900
Both, the 4.4 and the 4.2 driver lines assemble the `cursor` option in `AggregateOperationImpl` and that is nothing Spring Data can even remotely do. Paging @jyemin @rozza

[2021-12-07 13:11] jyemin commented on #3900
Hi @brianmarting can you paste the full stack trace of the exception please?

[2021-12-07 13:19] chadshowalter opened #3905 "Propagate Bean `ClassLoader` to `MongoTypeMapper`"
## Description
When I read a document using a repository, if the document has an abstract field with a concrete implementation and the first read of the document happens in a ForkJoinPool thread, the read fails with the following stacktrace:

[code]
## Steps to Reproduce
I have created a [project on github](https://github.com/chadshowalter/forkjoin-mongodb) that illustrates the issue.
1. Check out

[2021-12-07 14:47] caspianb commented on #3902
I'm not sure I'm following the explanation here. How are they part of the aggregate root if they're a different collection?

In our specific scenario, we have Many-To-Many style mappings between two different collections.

As an example data model:
Orders (contains OrderLines) <-> Shipments (containers ShipmentLines which point to an originating OrderLine).

Shipments might be for one or many orde

[2021-12-08 02:01] #3896 closed

[2021-12-08 13:45] mp911de commented on #3905
This issue is indeed related to the class loader that is being used. [`SimpleTypeInformationMapper`](https://github.com/spring-projects/spring-data-commons/blob/ef522f8e9c7ba97327760458abd854cde726d463/src/main/java/org/springframework/data/convert/SimpleTypeInformationMapper.java#L73-L81) tries to load the class that is used as a type hint.

Running the packaged jar uses Spring Boot code to creat

[2021-12-08 14:05] wilkinsona commented on #3905
Thanks, @mp911de. This is a somewhat unfortunate change in Java 9 that we've seen a few times before. See https://github.com/spring-projects/spring-boot/issues/19427, for example.

[2021-12-08 15:58] cstettler opened #3908 "Loading data fails with "Specified class is an interface" when invoking repository from worker thread"
Loading data having a  property using a type discriminator from a worker thread (i.e. from a rest controller in a parallel stream) sometimes results in the following error:

[code]

The following aspects seem to be relevant in order to run into this issue:

- the entity must contain a field of an interface type that contains several concrete implementations as values
- the entity has to be loaded

[2021-12-08 16:21] mp911de commented on #3908
This is a duplicate of #3905. Please make sure to either use type aliases or set the class loader accordingly. ForkJoin thread pools use the system class loader and not Spring's class loader.

[2021-12-08 16:21] #3908 closed

[2021-12-08 17:06] chadshowalter commented on #3905
Thanks.  Too bad this inconsistency is there.  It's a bit of a booby trap.

I had not picked up on the ability to work around this issue with the `@TypeAlias` annotation.  Thanks for pointing that out.

I also observe that it requires some extra work in the build to set ForkJoinPool.commonPool()'s threadFactory, e.g.,
[code]
does not work unless the custom factory class is at the root of the jar.

[2021-12-08 19:05] mp911de commented on #3905
I wonder whether we could default to the Spring ClassLoader in `SimpleTypeInformationMapper`. I'm going to create a ticket for it as falling back to the contextual class loader creates quite some inconvenience.

[2021-12-08 19:08] mp911de commented on #3905
See https://github.com/spring-projects/spring-data-commons/issues/2508

[2021-12-08 19:44] carloslimasis opened #3909 "Question about Client Side Encryption with MongoDB community"
Hello folks!

I have been trying to use the encrypted field feature from spring MongoDB data 3.3.0 but when I try to save my object the data isn't encrypted. My doubt is: The encrypted field feature only works with MongoDB Enterprise Edition?

See my code below:

[code]

[code]

[code]
[code]

[code]

[2021-12-08 20:02] chadshowalter commented on #3905
Thanks!  👍

[2021-12-09 07:31] christophstrobl commented on #3909
Thanks for getting in touch, if you have look at the reference documentation you will see that `@Encrypted` is part of the JSON Schema support. Therefore it will not trigger any [explicit client side encryption](https://docs.mongodb.com/upcoming/core/security-explicit-client-side-encryption/).

[2021-12-09 07:31] #3909 closed

[2021-12-09 09:08] #3774 closed

[2021-12-09 10:24] mp911de commented on #3905
Reopening the ticket as we can use the container's `ClassLoader` instead of falling back to the contextual class loader to avoid issues if the entire stack is container-managed.

[2021-12-09 10:38] #3905 closed

[2021-12-09 19:11] rvplauborg opened #3910 "How to scope client session bean properly?"
Hi,

We are attempting a DDD architecture, where we use repositories (custom ones) that in turn use MongoOperations. To have more control and easier testing we use a UnitOfWork start and commit transactions. So we need our repositories to use the same ClientSession as our UnitOfWork in order for transactions to work as intended.

We use an in-memory synchronous mediator to decouple our code, so pe

[2021-12-10 07:53] KSandhyaDevi opened #3911 "Migrating spring data mongo from 1.9.9 to 3.2.2 getiing run time time exception"
getCredentials called....
Replica Set: <Mongo nodes ips>org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'currencyInfo' defined in URL : Invocation of init method failed; nested exception is com.mongodb.MongoTimeoutException: Timed out after 50000 ms while waiting for a server that matches com.mongodb.client.internal.MongoClientDelegate$1@4bc59b27. Client view

[2021-12-10 07:54] KSandhyaDevi commented on #3911
Can you please help me with correct approach of xml creation

[2021-12-10 08:29] mp911de commented on #3910
Transparent session scoping works only when using transactions. Transactions aren't meant to be a mechanism for sessions, but Mongo designed transactions over sessions. There's no annotation-driven mechanism to bind a session to a thread and later on use it.

You could bind the session to the thread yourself through a `ThreadLocal` and override `MongoTemplate.doGetDatabase(…)` to produce a session

[2021-12-10 09:53] liweiye-2021 commented on #3903
dependency:
 <parent>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-starter-parent</artifactId>
        <version>2.5.5</version>
        <relativePath/>
    </parent>
<dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-data-mongodb</artifactId>
        </dependency>

Demo:
public byte[] findByFileId(

[2021-12-10 10:17] mp911de commented on #3903
The code above is pretty generic and it doesn't express what performance you expect vs. the one you get.

[2021-12-10 10:36] divyajnu08 commented on #3895
can I work on this issue ?

[2021-12-10 10:38] divyajnu08 commented on #3473
can i work on this issue ?

[2021-12-11 05:44] liweiye-2021 commented on #3903
thanks for your answer，I try again by my server,  Performance is the result of other issues.Maybe the version of mongodb or others.

Next time I have to try more before I ask，thanks

[2021-12-11 14:21] divyajnu08 commented on #3473
can I work on this issue ?

[2021-12-13 08:18] #3903 closed

[2021-12-13 08:21] #3910 closed

[2021-12-13 09:58] christophstrobl opened #3913 "Support interface projections on reference/association properties."
Currently it is only possible to include the target type within an interface projection when operating upon associations. It should be allowed to use interface projections on references using `@DBRef`.

[code]

[code]

[code]

Related Issue: #3894

[2021-12-13 12:30] christophstrobl commented on #3888
Thanks for reporting - we'll look into it. Meanwhile you may want to use a composed `Predicate`, that filters out collection like elements, along with `MongoJsonSchemaCreator#filter()`.

[2021-12-13 12:44] mp911de commented on #3902
`@DocumentReference` is the last resort and not the go-to approach. Imagine a `Blog` aggregate referencing `Comment`s. BSON is limited to 16MB and a popular blog site having millions of comments easily exceeds BSON limits.
To work around these limitations, comments can be stored in their own collection. From an aggregate perspective, they get loaded with the `Blog` entry.

`@DocumentReference` is

[2021-12-13 12:44] #3902 closed

[2021-12-13 12:45] christophstrobl commented on #3869
Thanks for reporting. @brybakov1973 could you please add the structure of the involved domain types to reproduce the issue.

[2021-12-13 12:50] christophstrobl commented on #3680
This is the expected default behavior when working with `Object` `Map`s holding values that are are not considered domain specific ones. Those will be restored on a best effort basis.

[2021-12-13 12:50] #3680 closed

[2021-12-14 08:42] #3898 closed

[2021-12-14 11:32] christophstrobl commented on #2860
resloved via #3894

[2021-12-14 11:32] #2860 closed

[2021-12-15 04:56] KSandhyaDevi commented on #3911
Hi Team,

Please help me with this. This is very important change for my project. Can you please provide details.

[2021-12-15 08:21] christophstrobl commented on #3911
Moving from _1.x_ to _3.x_ is quite a change that involves config, client and other differences. With the information at hand we cannot tell why the client won't connect to the replica set. Maybe you could set up the client manually with the required settings to see which ones are not set the expected way using XML config.

[2021-12-15 11:16] brybakov1973 commented on #3869
{
    "_id" : ObjectId("5c4840bf8b87bc0001705dce"),
    "_class" : "com.jacada.is.as.domain.InteractionBody",
    "interactionElements" : {
        "bbabac0c6df1-167c56723e09c3e5-edef" : {
            "_id" : "bbabac0c6df1-167c56723e09c3e5-edef",
            "text" : "",
            "footerText" : "",
            "formLayout" : "MULTIPLE_QUESTIONS",
            "splitQuestionId" : "",

[2021-12-15 11:28] christophstrobl commented on #3869
thanks - I was more thinking of the Java type that is involved in the mapping.

[2021-12-15 11:58] brybakov1973 commented on #3869
public class InteractionBody {

	private HashMap<String, InteractionElement> interactionElements = new LinkedHashMap<>();
	private HashMap<String, InteractionElement> variables = new HashMap<>();
	private String name;

	public HashMap<String, InteractionElement> getInteractionElements() {
		return interactionElements;
	}

	public void setInteractionElements(HashMap<String, InteractionElement> inte

[2021-12-15 15:22] spring-projects-issues commented on #3900
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-12-16 05:19] KSandhyaDevi commented on #3911
Hi Christophstobl,
When I got the info from spring docs i changed to new xml version changes,
I googled it alot, But I didn't find any xml type of config in 3.x version of spring data mongo. Can you please provide any sample application with xml based in 3.x.

[2021-12-16 05:47] KSandhyaDevi commented on #3911
Hi Christophstobl,
As our company using mongo huge. We are doding millions of transactions in milliseconds on mongo. so we need best way of connecting multiple mongos in multiple applications and we have replica sets also.

[2021-12-16 07:28] christophstrobl commented on #3911
With the given information I was not able to reproduce the issue. The mentioned authentication changes should not lead to a server selection timeout but raise a `MongoSecurityException`. My best guess (based on the information you provided `type=REPLICA_SET, servers=[]`) is something related to `clusterHosts`.
Please try debugging your application. Breakpoints in `MongoParsingUtils` and `MongoClie

[2021-12-16 07:52] christophstrobl commented on #3869
Thanks for the update. I do see the duplication of the key now when mapping the generated index against the domain type. This should not happen. We'll take care of it.

I’d be interested if the index ever worked because by looking at the snippets provided the index `interactionElements.conditions.name` does not cover the `Map key` segment defined by `Map<...> interactionElements`. The `Map` is tre

[2021-12-16 10:43] christophstrobl opened #3914 "MongoPersistentEntityIndexResolver should not traverse Map structures."
Setting up indices on `Map` like structures requires the _map key_, which cannot be resolved based on the plain type information to be part of the index. Therefore, traversal should not follow the path of the _map value_ type to set up indices that might not be effective within the store.

Relates to: #3869

[2021-12-16 16:02] brybakov1973 commented on #3869
You are correct, Mongo never used this kind of indexes in the search. I opened MongoDb support ticket and we concluded (together with Mongo support) that until they implement wildcard one (*) this doesn't do a thing. Mongo has this feature request already in their road map.

[2021-12-17 08:44] christophstrobl commented on #3901
I might be missing something here, but I was not able to reproduce the issue. Could you please provide a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem.

[2021-12-17 09:52] ps-tunnelsoft commented on #1700
I could not find the IgnoreCase query keyword in the documentation and I wonder what happened with this feature request in the milestone

[2021-12-17 10:08] christophstrobl commented on #1700
@ps-tunnelsoft the _Codd_ release train has reached EOL already quite some time ago. You can find supported keywords (may vary depending on the store implementation) in the [appendix](https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/#appendix.query.method.predicate).

[2021-12-17 10:59] ps-tunnelsoft commented on #1700
@christophstrobl I just tested it and IgnoreCase keyword works but it isn't in the list of supported keywords

[2021-12-17 11:31] christophstrobl opened #3916 "Update list of supported query method keywords."
`IgnoreCase` is not listed in section `mongodb.repositories.queries` for example.

[2021-12-17 11:33] christophstrobl commented on #1700
I see - it's missing in the `Query Methods` section of the reference documentation. Created #3916 for this. Thanks!

[2021-12-17 14:54] caspianb commented on #3901
Sample attached:
[mongo-index-npe.zip](https://github.com/spring-projects/spring-data-mongodb/files/7735853/mongo-index-npe.zip)

On 2.5.7 there is no NPE (but I did notice a warning around a cyclic reference inside the underlying javax.measure implementation). However, the only thing actually persisted there is our enum (which is the desired behavior). Everything works fine outside of just the NP

[2021-12-20 07:58] christophstrobl commented on #3901
Thanks for the sample! I can see now that there's a `Map` structure involved that should not be traversed. There's already a PR (#3915) available that is related to this issue.

[2021-12-21 06:46] inakov commented on #3028
Hey there, is someone working on this? With your help, I can try to prepare a PR for this, because I really hate mixing both typed queries and Update builders.

[2021-12-21 08:43] 1053531172 opened #3917 "Sort without grouped fields"
db.rep_report_param_label.aggregate([{
            "$match": {}
        }, {
            "$group": {
                "_id": {
                    "_id:null": "$_id:null",
                    "label_name": "$label_name"
                }
            }
        }, {
            "$project": {
                "label_name": "$_id.label_name",
                "_id": 0
            }
        }, {

[2021-12-21 10:40] christophstrobl commented on #3917
`$sort` will only be consider fields that are actually part of the previous stage. In this case the `$project` stage does not include `serial_number`, which causes the error you see. Which version are you using? We relaxed the field exposure checks (see #3542).

[2021-12-21 10:53] 1053531172 commented on #3917
version is 3.0.0.RELEASE

[2021-12-22 15:22] spring-projects-issues commented on #3900
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2021-12-22 15:22] #3900 closed

[2021-12-23 12:16] TheHett opened #3918 "DocumentReference invokes `find` query twice"
Simple `DocumentReference` invokes two queries to mongodb.
It doesn't matter if it's lazy or not.

[code]

[code]

[2021-12-24 08:17] spring-projects-issues commented on #3911
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-12-24 10:33] TheHett commented on #3918
Can you explain, what is QPerson and other prefixed with `Q` files?
Is it should be generated?  IDEA can't compile tests, I wanted to start debug.

![image](https://user-images.githubusercontent.com/946246/147345203-c3b89276-0f76-4a3f-a197-2fa5c1aa7d1c.png)

[2021-12-26 03:41] Oualitsen commented on #3868
I am facing the same issue here.
I am using webflux with `AbstractReactiveMongoConfiguration` it works just fine one localhost.
But when I dockerize the app I see error messages similar to @indiepopart 's

[2021-12-29 11:37] aprato-visual opened #3920 "repository insert collection method call findOne of all items if @Id annotated field is valorized"
Java doc  of repository insert  collection method say :

"Inserts the given entities. Assumes the given entities to have not been persisted yet and thus will optimize the insert over a call to saveAll(Iterable). Prefer using saveAll(Iterable) to avoid the usage of storespecific API."

but if @Id annotated fields of items in collection are pre valorized, repository first check all id and after this

[2021-12-30 03:48] derekxia1988 opened #3921 "Set value of Map with numeric key breaks data structure"
## Version with problems:

SpringBoot 2.6.2, 2.5.4 or above, 2.3.10.RELEASE or above
SpringDataMongoDB 3.3.0 3.2.4 or above, 3.0.8.RELEASE or above

these are the versions I test, maybe not very accurate, but the infomation may make some effect

## Brief introduction

Just as the title says, MongoTemplate.UpdateFirst just went wrong and break the document structure

## How to reproduce

I just pas

[2021-12-30 04:02] derekxia1988 commented on #3921
More infomation:
I tested springboot2.5.3 with springdatamongodb3.2.3, the problem still exists, but in springboot2.5.2 with springdatamongodb3.2.2 the problem disappears.

[2021-12-30 06:15] derekxia1988 commented on #3921
I extend my test code to reproduce the bug is springboot2.5.2:

[code]

the result in springboot2.5.2:

[code]

the expected result in springboot 2.3.9.RELEASE:

[code]

[2021-12-31 01:38] hicnar opened #3922 "Eager loading of collections annotated with @DocumentReference works under certain tricky condition (reactive)"
Minimal example below

[code]

the dao

[code]

The ```findById(...)``` will fetch the contents from both ```question``` and ```question_content``` collections **only** if the standard blocking mongo dependency, that is the following:
[code]

is present in the pom.xml. If not, only the ```id``` and ```basic``` properties of the returned instance of ```Question``` will be populated, the ```contents

[2022-01-04 09:57] spring-projects-issues commented on #3911
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-01-04 09:57] #3911 closed

[2022-01-04 13:35] mp911de opened #3923 "Adopt to Mockito changes"

[2022-01-04 13:42] #3923 closed

[2022-01-04 14:46] schauder opened #3924 "Remove Eclipse Non-Javadoc comments."

[2022-01-05 14:35] schauder commented on #3924
Closed by

[2022-01-05 14:35] #3924 closed

[2022-01-07 09:00] mp911de commented on #3891
We do not have hooks to intercept such lookups, that would be rather an aspect that needs to be implemented in the reference resolver as interception hooks are not part of the what this was designed for. It's also not possible to achieve this in an easy way to drop in a callback and be done with it.

This ticket isn't developing into an actionable direction, so we're closing it for now.

[2022-01-07 09:00] #3891 closed

[2022-01-08 05:16] xiaoxiaoleng opened #3925 "org.springframework.data.mongodb.core.MongoTemplate:find() cost much time. about 12s"

[2022-01-10 07:45] mp911de commented on #3925
If you would like us to spend some time helping you to diagnose the problem, please spend some time describing it and, ideally, providing a [minimal sample](https://stackoverflow.com/help/mcve) that reproduces the problem.

[2022-01-10 07:52] mp911de opened #3926 "Upgrade to MongoDB driver 4.4.1"

[2022-01-10 08:01] #3926 closed

[2022-01-10 08:05] mp911de opened #3927 "Release 4.0 M1 (2022.0.0)"

[2022-01-10 19:22] blueiceprj opened #3928 "if there is no data "getUniqueMappedResult" throws an exception"
Hello,

If you add a new function with Optional value return its would be useful to control return value.

Current Implementation and throw an exception if there is no data

[code]

`Optional<T> .....
`
Thanks

[2022-01-11 07:53] rainerfrey-inxmail opened #3929 "Client Side Encryption schema error with MongoDB driver 4.3+"
Hi,

there seems to be an incompatibility with the generated validation schema with encrypted properties and newer driver versions.
I have the following entity class, and use `MongoJsonSchemaCreator` to create the schema:

[code]

This creates the following schema:

[code]

With driver version 4.3.4 and newer (didn't test 4.3.0-4.3.3), when creating a collection with this schema, I receive the fol

[2022-01-11 08:26] christophstrobl commented on #3929
@jyemin any changes you are aware of that may be related to this?

[2022-01-11 08:46] #3918 closed

[2022-01-11 08:54] christophstrobl commented on #3928
Please spend a bit more time describing your request (maybe outline the usage scenario you have in mind). Right now, we struggle to understand what you want to achieve.

[2022-01-11 09:05] christophstrobl commented on #3922
As mentioned in the [Reference Documentation](https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/#mapping-usage.document-references) _"There is no support for reading document references using reactive infrastructure"_.
Please report issues when generating the project with Spring Initializr at [https://github.com/spring-io/initializr/issues](https://github.com/spring-io/initial

[2022-01-11 09:05] #3922 closed

[2022-01-11 12:50] jyemin commented on #3929
I'm not aware of anything in the driver. And it's strange because there is nothing I can see in the provided schema that corresponds to the error message (which is coming from the server, not the driver).  If we can get a minimal reproducible example, we can take a closer look.

[2022-01-11 13:12] rainerfrey-inxmail commented on #3929
I can create an example application no problem.

[2022-01-11 16:00] rainerfrey-inxmail commented on #3929
So here is the example. In build.gradle, the version property downgrades the driver to 4.2.3. When I remove it or set it to a newer version, I get the exception.

https://github.com/rainerfrey-inxmail/spring-data-momgodb-csfle-example

[2022-01-11 17:20] jyemin commented on #3929
@rainerfrey-inxmail thanks for the example application.  I'm still investigating, but one thing that I'm seeing that's different: even with the 4.2.3 driver I see the same exception.  Can you confirm that when you run this application as is, with 4.2.3, you _don't_ get the exception?  Make sure you drop the collection in the database prior to running the example, to make sure you're starting with

[2022-01-11 18:28] jyemin commented on #3929
I can reproduce the issue, using the provided sample application.  Here's what's happening:

1. The value of the uuidRepresentation setting is configured via `org.springframework.boot.autoconfigure.mongo.MongoPropertiesClientSettingsBuilderCustomizer` as `JAVA_LEGACY`, which means that all instances of `java.util.UUID` will be encoded as BSON Binary subtype 3
2. The data key is decoded by `org.spr

[2022-01-11 18:59] jyemin commented on #3929
@rainerfrey-inxmail one other thing I found: there was a change in 4.3.0 that does affect the behavior of your application, though not in the way that you reported.  With 4.2.3, I get the following exception:

[code]

With 4.3.0, I don't get that exception. This is due to the fact that 4.3.0 includes a fix for https://jira.mongodb.org/browse/JAVA-4140.

[2022-01-12 08:21] rainerfrey-inxmail commented on #3929
@jyemin thank you so much for the investigation and the suggested workaround, I will apply this today.

With driver 4.2.3 I neither get the original exception, nor the CodecConfigurationException from your later comment. I'm running the application as is, just with MongoDB and key configured in application.yml. There is no exception output, and the collection is created with the schema validator o

[2022-01-12 09:15] rainerfrey-inxmail commented on #3929
I can confirm that setting the uuid representation to standard solves the issue with driver 4.4.0.

[2022-01-12 12:51] christophstrobl opened #3932 "No longer default UUID representation to JAVA_LEGACY"
Turn defaulting off and enforce an explicit choice from the user.

[2022-01-12 14:07] blueiceprj commented on #3928
Hi,
Ok. I try to explain on my case and solution.

[code]

instead of this implementation

[code]

[2022-01-12 15:03] #3914 closed

[2022-01-12 15:03] #3901 closed

[2022-01-13 10:13] #3921 closed

[2022-01-13 14:47] #3929 closed

[2022-01-14 09:14] #3878 closed

[2022-01-14 09:15] christophstrobl opened #3934 "Release 3.2.9 (2021.0.9)"

[2022-01-14 09:55] christophstrobl opened #3935 "Release 3.3.2 (2021.1.2)"

[2022-01-14 10:19] #3882 closed

[2022-01-14 10:20] christophstrobl opened #3936 "Release 3.4 M2 (2021.2.0)"

[2022-01-14 13:49] #3927 closed

[2022-01-14 13:50] mp911de opened #3937 "Release 4.0 M2 (2022.0.0)"

[2022-01-17 07:47] spring-projects-issues commented on #3925
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-01-17 10:53] stennie opened #3938 "Add unionWith to Supported Aggregation Operators documentation"
The `$unionWith` operator has been supported by [`UnionWithOperation`](https://docs.spring.io/spring-data/mongodb/docs/3.4.x/api/org/springframework/data/mongodb/core/aggregation/UnionWithOperation.html) since Spring Data MongoDB 3.1 but is not currently documented in the list of [Spring Data's Supported Aggregation Operators](https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/

[2022-01-18 08:32] #3936 closed

[2022-01-18 08:33] christophstrobl opened #3939 "Release 3.4 M3 (2021.2.0)"

[2022-01-18 14:04] mp911de opened #3940 "Update compatibility matrix documentation"
The documentation doesn't list the `2021.1` release train yet: https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/#compatibility.matrix

[2022-01-19 08:31] constanine opened #3941 "`MongoTemplate#executeFindMultiInternal` allocations could be optimized"
In my case, when pagequery the collections in mongodb, which size more than 1000, such as  `mongoTemplate.find(new Query().limit(1000),xxx.class)`
the cost time of querying is too much, and then I find some reason in the code as:
[code]
The point is `new ArrayList()` ?! , which length of the list is 1000,this means the list will be copyed 18 times, I think the funtion `getAndPrepareCollection()` w

[2022-01-19 12:34] christophstrobl commented on #3685
The fix for spring-projects/spring-data-commons#1911 has been released and is available via `3.3.0`. Does the issue still exist when using that version?

[2022-01-19 12:39] christophstrobl commented on #3854
We've not been able to reproduce the problem given the description above. Please take the time to provide a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem to help us diagnose the issue.

[2022-01-19 12:40] christophstrobl commented on #3793
This still sounds like it behaves as documented. Please take the time to provide a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem to help us diagnose the issue.

[2022-01-19 12:43] christophstrobl commented on #3614
Closing this one as it seems to work as designed - For changes to `Criteria` please file a new issue to discuss a potential enhancement there. Thank you!

[2022-01-19 12:43] #3614 closed

[2022-01-19 12:53] christophstrobl commented on #3618
I checked the issue again and everything seems to work as expected when running against MongoDB server versions `4.4.4` and `5.0.0`

[2022-01-19 12:53] #3618 closed

[2022-01-19 12:55] christophstrobl commented on #3572
Seems to work as designed - closing this one.

[2022-01-19 12:55] #3572 closed

[2022-01-19 15:11] ceyhunn commented on #3618
Thank you very much.

[2022-01-21 09:50] #3695 closed

[2022-01-21 20:59] MaurizioCasciano opened #3943 "Add BeforeDeleteCallback and AfterDeleteCallback"
Consider adding the Callbacks also for Delete operations.

E.g. before deleting Document A it could be possible to delete all the `@DocumentReference` fields of A.

[2022-01-24 07:44] mp911de commented on #3941
Introducing a call to `collections.countDocuments()` introduces another I/O operation that outweighs its benefit if the result is empty or contains a small number of documents. Why don't you use the `stream()` method that bypasses `ArrayList` creation entirely?

[2022-01-24 07:47] spring-projects-issues commented on #3925
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-01-24 07:47] #3925 closed

[2022-01-24 07:48] mp911de opened #3944 "Use Java 8 `Stream` in `stream` and `aggregateStream` Template methods"
With the usage of Java 17 as baseline we want to switch to Java 8 streams directly to avoid the indirection through `CloseableIterator`. We also need to document that the stream needs to be closed (e.g. to be used with try-with-resources).

[2022-01-24 07:55] mp911de opened #3945 "Deprecate `mapReduce` methods"
Following the driver deprecations in favor of aggregations, we should deprecate our `mapReduce` methods.

[2022-01-24 08:47] #3694 closed

[2022-01-24 20:20] rajeshhereforyou opened #3947 "Issue with conversion when using aggregate function with spring-data-mongodb-3.2.2 which was working fine with spring-data-mongodb-2.1.10.RELEASE"
HI

I'm trying to upgrade spring boot version of my app and hence getting spring-data-mongodb-3.2.2

Now, I've been using mongotemplate from spring in my repository layer and I've a aggregation query which was working fine with spring-data-mongodb-2.1.10.RELEASE but causing issues with spring-data-mongodb-3.2.2 .

Here are my models.

[code]

Now my aggregation query is as below which was working

[2022-01-25 06:42] christophstrobl commented on #3947
Thanks for reporting! Can you please add the full stacktrace.

[2022-01-25 10:36] mp911de commented on #3886
The `MethodInvocationValidator` introspects the return value from coroutine invocations. In that case we see `CoroutineSingletons.COROUTINE_SUSPENDED` being returned and we cannot perform any further validations. I'm not sure how to proceed here. Maybe @sdeleuze can provide additional guidance on how to either intercept the continuation or how we can post-process the emitted/not-emitted value from

[2022-01-25 11:47] mihailcornescu commented on #3916
Hi @christophstrobl. I am new to contributing to spring-data-mongodb. Can I handle this issue?

[2022-01-25 13:03] rajeshhereforyou commented on #3947
org.springframework.data.mapping.MappingException: Cannot convert [Document{}] of type class java.util.ArrayList into an instance of class MySuperClass! Implement a custom Converter<class java.util.ArrayList, class MySuperClass> and register it with the CustomConversions. Parent object was: MyChildClass@a2635570 -> null
		at org.springframework.data.mongodb.core.convert.MappingMongoConverter$Conve

[2022-01-25 13:59] mihailcornescu commented on #3916
Thank you @christophstrobl. I have checked them already. Can you tell me for which milestone should I include the changes? In other words or from which branch should I create my feature branch.

[2022-01-25 15:13] christophstrobl commented on #3916
Please use _main_. We'll take care of porting the changes.

[2022-01-25 17:15] nexx512 opened #3948 "Allowing custom map and list converters"
Currently custom map and list converters are not possible if the target format is not a `java.util.List` or `java.util.Map`. In order to allow custom converters that can handle complex map types of custom maps and lists live vavr maps or lists, it should be posiible to execute these converters in a different order.
See #3912 for more details.

[2022-01-25 17:16] gregturn opened #3949 "Externalize build properties."

[2022-01-25 19:19] mihailcornescu commented on #3916
@christophstrobl I have raised PR #3950. Can you have a look on it?

[2022-01-26 12:37] spring-projects-issues commented on #3685
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-01-26 12:42] spring-projects-issues commented on #3854
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-01-26 12:42] spring-projects-issues commented on #3793
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-01-28 12:48] christophstrobl opened #3952 "Remove previously deprecated API."

[2022-01-30 10:02] benzgrant commented on #2351
Hey there, any update about this issue?

[2022-01-31 22:33] #3949 closed

[2022-02-02 12:23] #3916 closed

[2022-02-02 12:37] spring-projects-issues commented on #3685
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-02-02 12:37] #3685 closed

[2022-02-02 12:42] spring-projects-issues commented on #3854
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-02-02 12:42] #3854 closed

[2022-02-02 12:42] spring-projects-issues commented on #3793
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-02-02 12:42] #3793 closed

[2022-02-02 15:57] ClaudioConsolmagno commented on #2557
I had a similar issue recently and the following worked for me (SpringBoot 2.4):
[code]

[2022-02-03 15:46] #3944 closed

[2022-02-03 15:47] christophstrobl commented on #3952
Closed via e63013d.

[2022-02-03 15:47] #3952 closed

[2022-02-04 13:53] christophstrobl commented on #2643
The issue has been resolve quite some time ago (Nov. 2017 - via eb51828d) but never got closed.

[2022-02-04 13:53] #2643 closed

[2022-02-07 11:38] JohnnieShort opened #3953 "Cannot manage java.util.Date in json query."
I have repository method:
public interface LogMessageRepository extends MongoRepository<LogMessage, String> {

[code]
then i have a test:

[code]

then i have exception:

[code]

Could anyone help with this?

[2022-02-07 12:30] mp911de commented on #3953
The code above creates the following query:

[code]

Using `"2022-02-03T12:27:43.204Z == null"` with `$where` is invalid and you need to refactor your query to comply with MongoDB.

[2022-02-07 12:30] #3953 closed

[2022-02-07 12:44] JohnnieShort commented on #3953
@mp911de, could you, please, advice me how to refactor my query for null check purpose.

[2022-02-07 12:58] mp911de commented on #3953
Repository query methods aren't intended to be to handle conditional inclusion/exclusion of criteria, that needs to happen on the calling side. However, with SpEL you can get a bit of flexibility if you return query objects as `Map` that then translate do MongoDB query documents, see https://github.com/spring-projects/spring-data-examples/blob/092e31e890cc5ad226311be0938eb477068905f3/mongodb/secur

[2022-02-07 12:59] JohnnieShort commented on #3953
Thanks.

[2022-02-07 15:27] odrotbohm commented on #3948
Similarly to what we decided for SD Common's we still need to decide whether we want to do this at all and there's already a ticket to capture the effort.

[2022-02-07 16:20] gregturn opened #3954 "Use Harbor Proxy for containers."

[2022-02-07 16:50] #3954 closed

[2022-02-08 06:52] JohnnieShort opened #3957 "Cannot manage @Query params in SpEL expression"
I have a method and just tried to add it some flexibility.

[code]

I receive exception:

<details>

[code]
</details>

Please help.

[2022-02-08 11:41] RohitShete99 opened #3955 "@Sharded annotation not adding shard key to query filter"
As per documentation
 **update/upsert operations replacing/upserting a single existing document as long as the given [UpdateDefinition](https://docs.spring.io/spring-data/mongodb/docs/current/api/org/springframework/data/mongodb/core/query/UpdateDefinition.html) holds a full copy of the entity.**

 I have DataDTO with 13 fields out of which 6 fields are transient, DataDTO is extending CommonDTO wh

[2022-02-08 11:58] christophstrobl commented on #3955
Can you please add a sample that shows the update itself. Ideally take the time to provide a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem.

[2022-02-08 12:03] RohitShete99 commented on #3955
It is difficult to provide complete minimal sample for the same, What will be the ideal way to use @Sharded annotation

[2022-02-09 06:44] christophstrobl opened #3958 "Upgrade to MongoDB driver 4.4.2."

[2022-02-09 07:23] #3958 closed

[2022-02-09 07:52] christophstrobl commented on #3957
Thanks for bringing this up. It is possible to bind named parameters via `:#{#traceId}` inside a JSON String (eg. `{'properties.headers.X-B3-TraceId' : :#{#traceId}}`), but this is not supported inside an expression itself where the `ValueProvider` operates upon the method argument index.
[code]
We'll investigate named parameter binding inside the expression.

[2022-02-09 12:14] harinibodipudi commented on #2764
https://www.examplefiles.net/cs/1040155

This link specifies how we can use dynamic collection names with the environment variables. It worked for me

[2022-02-10 10:34] mawx opened #3961 "Error at runtime: "java: cannot access com.mongodb.client.MongoCollection""
Hello all,
we are using spring-stack with mongo for several years now, and we are currently migrating from java 11 to java 17.
This made us update our dependencies as well:
 - spring: `5.2.6.RELEASE` => `5.3.15`
 - spring-data-mongodb: `2.2.7.RELEASE` => `3.2.7`

These updates made up face a specific problem, I hope you guys already faced it.

We have a class `CustomMongoTemplate` that extends `Mo

[2022-02-10 10:50] christophstrobl commented on #3961
Please follow the [upgrading section](https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/#upgrading.2-3) in the reference documentation and kindly let us know if that solved the issue.

[2022-02-10 11:14] mawx commented on #3961
Thank you for your heads up,
I've looked over the given upgrading section and I didn't find any step we made wrong.

Moreover I really think the problem comes with this `extends MongoTemplate` as if we use the `MongoTemplate` directly (without using our custom one) the application starts correctly.

[2022-02-10 12:18] christophstrobl commented on #3961
Given the description above we cannot tell what's the issue. Please take the time to provide a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem.

[2022-02-11 06:42] christophstrobl opened #3962 "Upgrade to MongoDB driver 4.5.0."

[2022-02-11 09:27] #3962 closed

[2022-02-11 11:25] #3945 closed

[2022-02-11 16:14] mawx commented on #3961
Following your advice, I've found it my issue.
My spring-data-mongodb dependency was not positionned in the good module. Such a noob error!

Thanks again for your time.
I close the issue.

[2022-02-11 16:14] #3961 closed

[2022-02-14 09:51] hantsy opened #3963 "Incompatible wtih Mongo Java Driver 4.5.1"
Update to 4.5.1, there is an exception like this.

[code]

[2022-02-14 10:06] mp911de opened #3964 "Adapt repository to List-based interface variants"
See https://github.com/spring-projects/spring-data-commons/issues/2537

[2022-02-14 10:07] #3964 closed

[2022-02-14 10:12] mp911de commented on #3963
Care to provide more details? Currently, `main` (Spring Data MongoDB 3.4 snapshots) and the `3.3.x` branch (Spring Data MongoDB 3.3.2 snapshots) were upgraded to MongoDB driver 4.5 via #3962. Please make sure to use consistent versions. It's also a good reminder to ask MongoDB to provide a driver BOM.

[2022-02-14 12:40] hantsy commented on #3963
@mp911de Currently I am using the latest milestones of all spring projects in my sample projects.

[2022-02-15 08:53] Kuba-1024 commented on #1797
this bug is fixed now ?

[2022-02-15 10:59] christophstrobl opened #3965 "Cache computed SpEL expression dependencies within ParameterBindingDocumentCodec."

[2022-02-16 07:56] spring-projects-issues commented on #3957
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-02-16 08:17] christophstrobl opened #3966 "Update copyright year to 2022"

[2022-02-16 08:41] alabotski commented on #3547
I also faced such problem... It is not possible to store given information in a nested object

Judging by the questions on stackoverflow, I'm not the only one with this problem

- https://stackoverflow.com/questions/69389277/how-to-have-version-and-audit-information-inside-a-nested-object-in-springboot-m
- https://stackoverflow.com/questions/44208388/spring-data-mongodb-auditing-information-in-nes

[2022-02-16 08:54] #2107 closed

[2022-02-17 10:58] christophstrobl commented on #3966
Updated branches _3.2.x_, _3.3.x_, _main_ and _4.0.x_.

[2022-02-17 10:58] #3966 closed

[2022-02-17 16:44] alabotski opened #3967 "Custom repository and not founded MongoEntityInformation"
spring-data-mongodb 3.3.1

Hi

I am trying to create my custom repository

The problem is that I need to call the save method of SimpleMongoRepository (standard implementation) ...
As a result, I got the following repository - CascadeMongoRepository

[code]

But on startup I got the following problem...
I have seen similar requests on stack overflow

https://stackoverflow.com/questions/47384779/mo

[2022-02-18 01:10] azmhyy2021 opened #3968 "Can't find a codec for class java.time.Instant"
Hello,

I'm working on developing authentication system with
spring session mongodb and spring data mongodb reactive.

After I login a session successfully, every time an exception is occured.
The error message is as follow.

It says java.time.Instant is not found.

Is this a bug ?

[code]

[2022-02-18 02:31] sayseakleng opened #3969 "CustomConversions Warning on org.springframework.boot V.2.6.3"
Hello friend. I'm trying to use spring boot version 2.6.3, spring-boot-starter-data-mongodb-reactive 2.6.3, spring data mongodb 3.3.1

I got warning as following:

2022-02-18 08:37:56.553  WARN 30620 --- [  restartedMain] o.s.data.convert.CustomConversions       : Registering converter from class java.time.LocalDateTime to class org.joda.time.LocalDateTime as reading converter although it doesn't

[2022-02-18 04:02] azmhyy2021 commented on #3968
`
@Configuration
public class constraintConfig {
  @Bean
  public ValidatingMongoEventListener validatingMongoEventListener() {
    return new ValidatingMongoEventListener(validator());
  }

  @Bean
  public LocalValidatorFactoryBean validator() {
    return new LocalValidatorFactoryBean();
  }
}
`

I found the above code caused the error.

[2022-02-18 07:23] christophstrobl commented on #3968
@azmhyy2021 thanks for reporting!

[2022-02-18 08:19] mp911de commented on #3967
Check out the documentation on how to customize individual repositories at https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/#repositories.single-repository-behavior.

When extending `Simple…Repository`, then you need to provide your base repository type through `@EnableMongoRepositorries` and you must avoid any naming pattern that would discover the repository as fragment. Se

[2022-02-18 08:19] #3967 closed

[2022-02-18 09:08] alabotski commented on #3967
@mp911de

Problem with MongoDB not with JPA
https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/#repositories.customize-base-repository

[2022-02-18 09:09] alabotski commented on #3967
`When extending Simple…Repository, then you need to provide your base repository type through @EnableMongoRepositorries `

Yes, I did it and I have

[code]

[2022-02-18 09:11] mp911de commented on #3967
Make sure to use a name that doesn't qualify as a repository fragment. The interface `CascadeMongoRepository` leads to the fragment name `CascadeMongoRepositoryImpl`. Use rather `SimpleCascadeMongoRepository`.

[2022-02-18 09:20] #3968 closed

[2022-02-18 09:38] #3934 closed

[2022-02-18 09:39] mp911de opened #3971 "Release 3.2.10 (2021.0.10)"

[2022-02-18 09:59] #3935 closed

[2022-02-18 10:01] mp911de opened #3972 "Release 3.3.3 (2021.1.3)"

[2022-02-18 10:04] alabotski commented on #3967
@mp911de

I have another problem
When I call SimpleMongoRepository constructor
[code]

Parameter 0 of constructor in by.mongo.repository.LimitRepositoryImpl required a bean of type 'org.springframework.data.mongodb.repository.query.MongoEntityInformation' that could not be found.

[2022-02-18 10:22] #3939 closed

[2022-02-18 10:26] mp911de opened #3973 "Release 3.4 M4 (2021.2.0)"

[2022-02-18 10:39] alabotski commented on #3967
@mp911de

https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/#repositories.single-repository-behavior

I want to call the default SimpleMongoRepository method from my repository implementation
For this, inheritance from SimpleMongoRepository occurs.

[2022-02-18 16:33] alabotski commented on #3798
Hi can you explain me

[MongoTemplateDocumentReferenceTests](https://github.com/spring-projects/spring-data-mongodb/pull/3802/files#diff-d7570daecbb6be94c76c6959a43dc560f76e37ec09b5bec1a3c4ce60733abd7e)

Test - allowsOneToMayStyleLookupsUsingSelfVariable works fine

But if I rewrite it. It doesn't pass... =(

[code]

[2022-02-21 06:43] alabotski opened #3975 "`@DocumentReference` doesn't work with generated IDs"
Hi
@DocumentReference doesn't seem to work correctly with generated IDs

Take for example working test
In it, we put down the ID ourselves
https://github.com/spring-projects/spring-data-mongodb/blob/3d697a1752b8bc24f907dd15bbc5e83de1540d8b/spring-data-mongodb/src/test/java/org/springframework/data/mongodb/core/MongoTemplateDocumentReferenceTests.java#L1156

I rewrite it and it does not pass

[code

[2022-02-21 13:10] mp911de opened #3976 "Use Java 17 to build snapshots for Artifactory"

[2022-02-21 14:55] spring-projects-issues commented on #3955
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-02-22 08:36] #3976 closed

[2022-02-22 12:54] mp911de opened #3977 "Upgrade to Maven Wrapper 3.8.4"

[2022-02-22 12:55] #3977 closed

[2022-02-22 12:56] mp911de opened #3978 "Upgrade to Maven Wrapper 3.8.4"

[2022-02-22 12:59] mp911de opened #3979 "Upgrade to Maven Wrapper 3.8.4"

[2022-02-22 12:59] #3979 closed

[2022-02-23 07:55] spring-projects-issues commented on #3957
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-02-23 07:55] #3957 closed

[2022-02-24 16:02] phillipuniverse opened #3980 "Private final fields in BigDecimal inspected in Java 17"
~I am upgrading from spring-data-mongodb 3.2.3 to 3.3.1, and also to Java 17. Here is a test that worked before:~

EDIT: this seems to be a Java 17 problem, the same issue exists in Spring Data Mongo 3.2.9 with Java 17 and Kotlin 1.6. Although this did work ok with Java 11.

[code]

This test ~was fine in 3.2.3~ was fine with Java 11, but now fails with:

[code]

Where the `RateDecimalConfig` clas

[2022-02-24 16:06] phillipuniverse commented on #3980
1 more workaround is to add an [`--add-opens`](https://openjdk.java.net/jeps/261#Breaking-encapsulation) to the `jvmArgs` in the test task. This obviously won't work at runtime (without the corresponding jvm argument there too) but does fix the issue:

[code]

[2022-02-24 18:20] phillipuniverse commented on #3980
Hm - I went back to Java 11 and realized that there has been a warning there all along:

[code]

So looks like this has always been an issue but Java 17 took the warnings off and hard-failed with [the new strong encapsulation changes](http://openjdk.java.net/jeps/403).

[2022-02-25 08:02] mp911de commented on #3980
Java 9++ introduced strong encapsulation and each Java runtime increased the level of encapsulation. Domain models are fully analyzed by the `MappingContext` and domain models must be accessible for Spring Data to work.

Subclassing `BigDecimal` no longer considers `BigDecimal` as a simple type but the class is being decomposed into its Java properties. Instead of subclassing, we recommend composi

[2022-02-25 08:02] #3980 closed

[2022-02-28 14:55] spring-projects-issues commented on #3955
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-02-28 14:55] #3955 closed

[2022-02-28 15:16] mp911de commented on #3969
Can you provide a [minimal sample](https://stackoverflow.com/help/mcve) that reproduces the problem?

[2022-02-28 16:29] gregturn commented on #3382
Already completed in our present CI plan.

[2022-02-28 16:29] #3382 closed

[2022-03-02 09:38] mp911de commented on #3975
The code works as designed. The reason that no objects are found is that MongoDB generates an `ObjectId` for `OneToManyStylePublisher` while the `publisherId` is a `String`. If you consistently use the matching type `ObjectId` for `OneToManyStylePublisher.id` and `OneToManyStyleBook.publisherId`, then Spring Data can perform the lookup successfully.

[2022-03-02 09:38] #3975 closed

[2022-03-03 10:08] jpsrn opened #3983 "Repository query into embedded simple type structure throws MappingException"
Attempting to use a Spring Data repository to query the structure of a simple type (i.e., a type having a write converter) embedded in another type fails to a `MappingException`. This problem is present in the latest Spring Data MongoDB version 3.3.2 and seems to have been introduced in [this Spring Data Commons commit](https://github.com/spring-projects/spring-data-commons/commit/b51bee7a0be79f0b

[2022-03-04 08:57] MaConch opened #3984 "`MongoTemplate.createCollection(String, CollectionOptions)` does not consider timeseries options"
When the convertToDocument method is called when the non-object creation method createCollection is used, this method is not adapted to the time series
![image](https://user-images.githubusercontent.com/28838804/156731619-55ef52ff-ce62-4a0f-9803-86c589150717.png)
![image](https://user-images.githubusercontent.com/28838804/156731921-5a34c15b-e46b-4f8a-912f-dbe3d13d248e.png)

[2022-03-06 13:21] chenfuyuan opened #3985 "LookupOperation AggregationField clean '$'"
LookupOperation AggregationField will clean ‘$’ fieldRef.Now mongodb support $lookup can use '$'.

[2022-03-07 10:54] zmes50416 commented on #3327
Hi, I have encountered the same warn log mentioned in spring-projects/spring-data-commons#2026
May I ask Does the team has a schedule to address this issue? if not, how do I filter out the converter?

Thank

[2022-03-09 16:13] german-komarov opened #3989 "Typo, should be public."
https://github.com/spring-projects/spring-data-mongodb/blob/49e6d536416b07131f0f5c2c5741a89a5f8cff05/spring-data-mongodb/src/main/java/org/springframework/data/mongodb/core/schema/TypedJsonSchemaObject.java#L668

[2022-03-10 08:22] christophstrobl commented on #3989
Thanks for reporting - we'll take care of this!

[2022-03-10 08:43] #3989 closed

[2022-03-10 09:02] christophstrobl commented on #3984
good catch - we'll take care of this!

[2022-03-10 13:52] christophstrobl commented on #3985
If you would like us to spend some time helping you to diagnose the problem, please spend some time describing it. Right now, we struggle to understand what you want to achieve. Maybe you could add a bit more context to the issue covering involved domain types and the aggregation.

[2022-03-10 14:11] christophstrobl commented on #3983
Thanks for bringing this to our attention and providing the reproducer 👍  - I'll take this to the team.

[2022-03-11 07:56] azmhyy2021 opened #3991 "Java LocalTime read converter and write converter problem"
Hello

I have saved some time series data in a field type LocalTime.

When a LocalTime type field saved into MongoDB collection, it is saved as in MongoDB data type "date"
which is in the form of ISO Date. However, the date part and the time part are the compulsory of MongoDB data type "date"
so when LocalTime is saved, rubbish date part is included. Now the write converter put the rubbish date pa

[2022-03-11 08:41] azmhyy2021 commented on #3991
I write custom LocalTime converter class to make "find" query correctly

`
import java.time.LocalDateTime;
import java.time.LocalTime;
import java.time.ZonedDateTime;
import java.util.Date;
import java.util.TimeZone;
import org.springframework.core.convert.converter.Converter;

public class LocalTimeWriteConverter implements Converter<LocalTime, Date> {

  @Override
  public Date convert(LocalTime

[2022-03-11 08:55] christophstrobl commented on #3991
Have you already tried using the driver native time codec? It can be enabled via `MongoConverterConfigurationAdapter.useNativeDriverJavaTimeCodecs()`.

If you have the time, it would be great it you could provide a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem.

[2022-03-11 09:00] azmhyy2021 commented on #3991
I have tried use the default LocalTime converter.

The problem is LocalTime is saved with current date. which the date should be fixed like LocalDate's time.
It caused a problem when I find the date by time only.

[2022-03-11 09:33] christophstrobl commented on #3947
After looking at the issue, the behavior you experienced in previous versions was more of a bug than a feature. The `$lookup` stage will provide you with a collection of matching documents, which in turn need to be mapped to a collection like type (`List`, `Set`, ...) and cannot be turned into a single value.

There are basically two options here.
1) turn the field into a collection.
2) update the

[2022-03-11 13:00] azmhyy2021 commented on #3991
I have tried to use the default LocalTime converter.

The problem is LocalTime is saved with current date. which the date should be fixed like LocalDate's time.
It caused a problem when I find the date by time only.

[2022-03-11 13:14] #3522 closed

[2022-03-11 14:25] #3984 closed

[2022-03-13 11:12] apffa opened #3993 "MergeOperation reactive streams support"
I'd like to know if it is currently possible to use `MergeOperation` with project reactor, and if not I'd like to ask that as a feature request

[2022-03-13 19:17] sangyongchoi commented on #3993
I think it is possible with ReactiveMongoOperations.

[2022-03-14 09:33] apffa commented on #3993
@sangyongchoi can you give an example?

[2022-03-15 03:26] sangyongchoi commented on #3993
sorry. I mistook MergeOperation for mongoOperation

[2022-03-15 10:02] christophstrobl commented on #3993
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add some more details if you feel this is a genuine bug.

Nevertheless, you can use `Rea

[2022-03-15 10:02] #3993 closed

[2022-03-15 11:24] apffa commented on #3993
Hey @christophstrobl, thanks for the quick response. I've posted a SO question before the issue, see [here](https://stackoverflow.com/questions/71455779/reactive-spring-data-mongo-merge-operation).

[2022-03-15 11:27] apffa opened #3994 "How to perform an Upsert on a bulk with Reactive Streams?"
As for what I've seen, the `ReactiveMongoTemplate` doesn't support a [multi update when upserting](https://github.com/spring-projects/spring-data-mongodb/blob/391d5101d80d3b9a7bbf512f5e1a779f4730fc25/spring-data-mongodb/src/main/java/org/springframework/data/mongodb/core/ReactiveMongoTemplate.java#L1802). I wonder if there's any reason for this, or whether it will be possible to submit a simple PR

[2022-03-15 12:19] sdeleuze commented on #3886
This kind of use case may require using Kotlin reflection (via `kotlin-reflect`) to get the null-safety information, that what we do on Framework side, see https://github.com/spring-projects/spring-framework/blob/main/spring-core/src/main/java/org/springframework/core/MethodParameter.java#L872.

See also related https://github.com/spring-projects/spring-framework/issues/21546#issuecomment-95365919

[2022-03-15 15:06] apffa commented on #3994
@mp911de

[2022-03-15 16:36] sangyongchoi opened #3995 "Is it possible to add a pagingable findAll method to ReactiveQuerydslPredicateExecutor ?"
Hi, I am a user who uses a combination of querydsl and spring data mongo.
I want to use ReactiveQuerydslPredicateExecutor, but there is no findAll method available for paging.
If you want to do paging using ReactiveQuerydslMongoPredicateExecutor it looks like you should use something like below.
[code]
Could it be that I can add a Pageable like I suggested ?
I think it's more convenient to add a p

[2022-03-15 16:48] sangyongchoi opened #3996 "Can you add Querydsl related extensions?"
Hello.
I am a spring data mongo user.
I usually use it in combination with querydsl .
I found some inconvenience.

There are two problems when using MongoOperation (or ReactiveMongOperation) with Query() .
- non type-safe
- possibility of error due to typo

If you use kotlin.TypedCriteriaExtensions.kt, it can be solved to some extent, but there are some inconveniences.

This is not convenient when

[2022-03-16 05:25] purple910 opened #3997 "I introduced embedded mongodb, but it can only support version 3.5.5 and cannot be modified to other versions"
spring-boot-starter-parent:2.6.2
de.flapdoodle.embed.mongo：3.3.1

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'licenseController' defined in file [E:\resource\license-platform\license-platform\license-platform-server\target\classes\com\tfswx\license\platform\server\web\controller\LicenseController.class]: Unsatisfied dependency expressed through

[2022-03-16 15:05] mp911de opened #3998 "Projecting nested documents with open projections leads to `ConverterNotFoundException`"
Exception:

[code]

Domain model:

[code]

[2022-03-16 15:29] #3998 closed

[2022-03-16 18:36] almogtavor commented on #3994
There's a non-Spring Data implementation [specified here](https://stackoverflow.com/questions/70926335/bulk-update-with-spring-data-mongodb-reactive). I think there is no reason to not simplify this in Spring Data Mongo. Bulk operations should be supported in `spring-data-mongo-reactive`

[2022-03-17 08:14] mp911de commented on #3997
This is a Spring Boot issue, please file your ticket at https://github.com/spring-projects/spring-boot/issues.

[2022-03-17 08:14] #3997 closed

[2022-03-17 12:57] christophstrobl commented on #3994
seem to be a duplicate of #2821 - a PR is always welcome.

[2022-03-17 13:53] spring-projects-issues commented on #3985
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-03-18 05:47] #3985 closed

[2022-03-18 09:38] spring-projects-issues commented on #3947
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-03-18 13:16] #3870 closed

[2022-03-19 16:51] almogtavor commented on #3994
@christophstrobl Ok. Can you specify what path should the `ReactiveBulkOperations` interface be? I guess the implementation should be in a class named `ReactiveBulkOperationsSupport`. If you may, some guidelines for what needed to be implemented.

[2022-03-21 08:32] #3596 closed

[2022-03-21 13:40] #3971 closed

[2022-03-21 13:41] mp911de opened #4000 "Release 3.2.11 (2021.0.11)"

[2022-03-21 14:13] #3972 closed

[2022-03-21 14:14] mp911de opened #4001 "Release 3.3.4 (2021.1.4)"

[2022-03-21 15:30] #3973 closed

[2022-03-21 15:31] gregturn opened #4002 "Release 3.4 RC1 (2021.2.0)"

[2022-03-21 15:56] #3937 closed

[2022-03-21 15:57] mp911de opened #4003 "Release 4.0 M3 (2022.0.0)"

[2022-03-22 07:53] sebastian-firsching opened #4004 "`Point must only contain numeric elements` when using near count query with GeoJson points"
Count queries using `$near` or `$nearSphere` require a rewrite to `$geoWithin`. However, according to the [official MongoDB documenatation](https://docs.mongodb.com/manual/reference/operator/query/near/), the syntax for a `$near` query is different when using a GeoJSON point instead of legacy coordinates.
When creating the `$geoWithin` in `CountQuery.createGeoWithin` in combination with a GeoJSON

[2022-03-22 09:04] christophstrobl commented on #4004
Thanks for reaching out could you please take the time to provide a complete [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) (something that we can unzip or git clone, build, and deploy) that reproduces the problem.

[2022-03-22 09:38] sebastian-firsching commented on #4004
Sure, I have created a quick example that executes a count with a near query and GeoJSON point in an application runner directly after startup. Just make sure, that you have a MongoDB running locally on port 27017.
[geojson-near-example.zip](https://github.com/spring-projects/spring-data-mongodb/files/8323032/geojson-near-example.zip)

[2022-03-22 13:12] #4003 closed

[2022-03-22 13:16] mp911de opened #4005 "Release 4.0 M4 (2022.0.0)"

[2022-03-23 12:55] christophstrobl commented on #4004
Thanks for the reproducer - the rewrite of `$near` and `$nearSphere` is missing specific handling for geoJson `$geometry` which needs to be converted into a legacy coordinate pair for `$geowithin $center | $centerSphere`.
As noted the `$maxDistance` also is in a different place and needs to extracted from the given source. A bit of extra complexity comes in by `$nearSphere` using `meters` in case

[2022-03-25 09:38] spring-projects-issues commented on #3947
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-03-25 09:38] #3947 closed

[2022-03-25 14:38] DoubleWLai opened #4008 "Difference between "Lifecycle event" and "Entity callbacks""
Hi all,

I am trying to implement some methods like pre-save, pre-persist and post-load in my Spring application with MongoDB. But I am confused about which I should use between  ["Lifecycle event"](https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/#mongodb.mapping-usage.events) and ["Entity callbacks"](https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/#en

[2022-03-25 15:18] LeeU1911 opened #4009 "Equivalent of `mapping-context-ref` in `<mongo:audit />`"
Hey everyone, I couldn't seem to find an official answer on how to reference a custom mapping context when using annotation `@EnableMongoAuditing`.
For XML configuration, official docs specified
[code]
But equivalent Java config doesn't seem to have `mapping-context-ref` if I'm not wrong
[code]
There is one StackOverflow answer suggests that by autowiring the mapping context in the same config cla

[2022-03-27 12:38] sangyongchoi commented on #3995
I found out that [this](https://github.com/spring-projects/spring-data-commons/issues/1646) was intentionally not supported.

[2022-03-27 12:38] #3995 closed

[2022-03-28 06:43] christophstrobl commented on #4008
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.
Depending on you applications needs you can choose one or the other, whereas entity callbacks provide you with more execution guarantees as described in the reference you already mentioned.